/* CV HERO SECTION - MOBILE */

.cv-hero-container{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    gap: 2rem;
    padding: var(--mobile-cont-pd);
    padding-top: 10rem;
    margin-left: auto;
    margin-right: auto;
}

.cv-hero-section-image{
    width: max-content;
    padding-bottom: 1rem;
}

.cv-image{
    width: 100%;
    border: solid 1px transparent;
    border-radius: 8px;
}

.cv-claim-wrapper{
    padding-bottom: 1rem;
}

.cv-claim{
    font-size: 3rem;
    font-weight: var(--bold-font);
}

.thank-you{
    line-height: 5rem;
}


        /* CV HERO SECTION - TABLET */
        @media only screen and (min-width: 767px){

            .cv-hero-container{
                padding: var(--tablet-cont-pd);
                width: var(--tablet-cont-w);
                flex-wrap: nowrap;
                padding-top: 10rem;
            }

            .cv-hero-section-image{
                width: 70%;
            }

        }

        /* CV HERO SECTION - DESKTOP */

        @media only screen and (min-width: 1100px){

            .cv-hero-container{
                padding: var(--desktop-cont-pd);
                width: var(--desktop-cont-w);
                padding-top: 14rem;
            }

        }


.signature-image{
    width: 20rem;
}