.cvSectionContainer {
    display: flex;
    flex-direction: column;
    padding: var(--mobile-cont-pd);
    margin-left: auto;
    margin-right: auto;
}

.columns {
    display: flex;
    flex-direction: column;
    align-items: center;
}

/* TABLET */

@media only screen and (min-width: 767px) {

    .cvSectionContainer {
        padding: var(--tablet-cont-pd);
        width: var(--tablet-cont-w);
    }

    .columns {
        flex-direction: row;
        align-items: center;
        gap: 4rem;
    }
}


/* DESKTOP */

@media only screen and (min-width: 1100px) {
    .cvSectionContainer {
        padding: 0 2rem 0 2rem;
        width: 75%;
    }
}

.link {
    font-weight: 400;
}

.link:hover {
    color: rgb(255, 226, 171);
}


/* Bento Container and Box styling */
.bentoContainer {
    height: 100vh;
    display: grid;
    grid-template-columns: repeat(9, 1fr);
    grid-template-rows: repeat(6, 1fr);
    gap: 1.5rem;
    padding: 20% 0% 7% 0%;
    width: 90%;
    margin-left: auto;
    margin-right: auto;
    overflow: hidden;
}

@media only screen and (min-width: 767px) {
    .bentoContainer {
        padding: 12% 2% 7% 2%;
        width: 90%;
    }
}

@media only screen and (min-width: 1100px) {
    .bentoContainer {
        padding: 12% 4% 7% 4%;
        width: 80%;
    }
}



.bentoBox {
    border-radius: 8px;
    display: flex;
    flex-direction: column;
    position: relative;
    transition: scale 0.14s ease-in-out;
    justify-content: center;
    align-items: center;
}

.bentoContent {
    background-color: transparent;
    z-index: 4;
    border-radius: 7px;
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

/* Bento Outline Animation */
.bentoBox::before,
.bentoBox::after {
    border-radius: inherit;
    content: "";
    height: 100%;
    left: 0px;
    opacity: 0;
    position: absolute;
    top: 0px;
    transition: opacity 400ms;
    width: 100%;
}

.bentoBox::before {
    background: radial-gradient(100px circle at var(--mouse-x) var(--mouse-y),
            #dbdbdb,
            transparent 40%);
    z-index: 1;
}

.bentoBox::after {
    background: radial-gradient(800px circle at var(--mouse-x) var(--mouse-y),
            var(--bento-border-animation),
            transparent 40%);
    z-index: 3;
}

.bentoContainer:hover>.bentoBox::after {
    opacity: 1;
}

.bento1 {
    grid-area: 1 / 1 / 4 / 10;
    position: relative;
}

.bento1:hover {
    cursor: pointer;
}

.rotate {
    transform: rotateY(180deg);
}

.bento1 {
    transition: transform 1500ms;
    transform-style: preserve-3d;
}

.bentoInnerImageFront,
.bentoInnerImageBack {
    border: solid 0.1rem var(--primary-outline);
    height: calc(100% - 0.2rem);
    width: calc(100% - 0.2rem);
    border-radius: 8px;
    z-index: 5;
    position: absolute;
    backface-visibility: hidden;
}

.bentoInnerImageBack {
    transform: rotateY(180deg);
}

.portraitImage {
    object-fit: cover;
    object-position: center;
    border-radius: 6px;
    width: 100%;
    height: 100%;
}

.bento2 {
    grid-area: 4 / 1 / 6 / 10;
}

.bentoInnerContentSkills {
    background-image: linear-gradient(to top, rgba(245, 246, 252, 0), rgba(23, 23, 23, 0.549)), url(/images/cv/skills.png);
    background-size: cover;
    background-position: top;
    height: calc(100% - 0.2rem);
    width: calc(100% - 0.2rem);
    border-radius: inherit;
}


.bento3 {
    grid-area: 10 / 1 / 6 / 10;
}

.bentoButton {
    height: 100%;
    width: 100%;
}

.bentoButton>a {
    color: white;
    font-size: 1.2em;
}

.bentoInnerContentButton {
    background:
        radial-gradient(ellipse at top left, #422b56, transparent),
        radial-gradient(ellipse at bottom right, #5fdfffcd, transparent 75%),
        linear-gradient(45deg, #763aad 50% 40%, #23d3ffcd 100% 100%);
    border-radius: inherit;
    height: calc(100% - 0.2rem);
    width: calc(100% - 0.2rem);
    background-size: fill;
    background-position: bottom;
}


.bento4 {
    display: none;
}

.bentoInnerContentBio {
    background-image: linear-gradient(to top, rgba(245, 246, 252, 0), rgba(23, 23, 23, 0.549)), url(/images/cv/bio.png);
    background-size: cover;
    background-position: center;
    height: calc(100% - 0.2rem);
    width: calc(100% - 0.2rem);
    border-radius: inherit;
}


.bento5 {
    display: none;
}

.bentoInnerContentCareer {
    background-image: linear-gradient(to top, rgba(245, 246, 252, 0), rgba(23, 23, 23, 0.549)), url(/images/cv/career.png);
    background-size: cover;
    background-position: center;
    height: calc(100% - 0.2rem);
    width: calc(100% - 0.2rem);
    border-radius: inherit;
}


.bento6 {
    display: none;
}

.bentoInnerContentCertification {
    background-image: linear-gradient(to top, rgba(245, 246, 252, 0), rgba(23, 23, 23, 0.549)), url(/images/cv/certification.png);
    background-size: cover;
    background-position: center;
    height: calc(100% - 0.2rem);
    width: calc(100% - 0.2rem);
    border-radius: inherit;
}

.bento2:hover,
.bento3:hover,
.bento4:hover,
.bento5:hover,
.bento6:hover {
    scale: 1.02;
    cursor: pointer;
}

.bentoInnerContent:hover {
    cursor: pointer;
}

.bentoInnerContentSkills,
.bentoInnerContentBio,
.bentoInnerContentCareer,
.bentoInnerContentCertification {
    display: flex;
    align-items: flex-end;
    justify-content: center;
}

.digitalMarketing,
.bio,
.certification,
.careerPath {
    display: flex;
    justify-content: center;
    background: linear-gradient(to top, rgb(0 0 0 / 60%)85%, rgba(255, 255, 255, 0));
    border-radius: 0px 0px 8px 8px;
    width: 100%;
    height: 5rem;
    align-items: center;
}

.digitalMarketing p,
.bio p,
.certification p,
.careerPath p {
    font-size: 1.3em;
    line-height: 1.5em;
    padding: 0.5rem 1rem;
    text-align: center;
    color: white;
}


/* CV Bottom of the page */
.signatureWrapper {
    display: flex;
    justify-content: flex-end;
}


.heroButton {
    align-items: center;
    appearance: none;
    background-image: radial-gradient(100% 100% at 100% 10%, #ff0000 0, #e78d05 100%);
    border: 0;
    border-radius: 6px;
    box-sizing: border-box;
    color: var(--primary-text-color);
    cursor: pointer;
    display: inline-flex;
    height: 100%;
    width: 100%;
    justify-content: center;
    line-height: 1;
    list-style: none;
    overflow: hidden;
    padding-left: 16px;
    padding-right: 16px;
    position: relative;
    text-align: left;
    text-decoration: none;
    transition: box-shadow .15s, transform .15s;
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
    white-space: nowrap;
    will-change: box-shadow, transform;
    font-size: 2rem;
    font-weight: var(--heavy-font);
}

.heroButton:focus {
    box-shadow: #f47a15 0 0 0 1.5px inset, rgba(66, 44, 35, 0.4) 0 2px 4px, rgba(66, 42, 35, 0.3) 0 7px 13px -3px, #e0733c 0 -3px 0 inset;
}

.heroButton:active {
    box-shadow: #e0733c 0 3px 7px inset;
    transform: translateY(2px);
}

@media only screen and (min-width: 767px) {
    .bento1 {
        grid-area: 1 / 1 / 4 / 4;
    }

    .bento2 {
        grid-area: 1 / 4 / 3 / 7;
    }

    .bento3 {
        grid-area: 3 / 4 / 3 / 7;
    }

    .bento4 {
        display: flex;
        grid-area: 1 / 7 / 5 / 10;
    }

    .bento5 {
        display: flex;
        grid-area: 4 / 1 / 7 / 7;
    }

    .bento6 {
        display: flex;
        grid-area: 5 / 7 / 7 / 10;
    }

    .digitalMarketing,
    .bio,
    .certification,
    .careerPath {
        display: flex;
        align-items: center;
        justify-content: center;
        background: linear-gradient(to bottom, rgba(0, 0, 0, 0.654), rgba(255, 255, 255, 0));
        border-radius: 8px 8px 8px 8px;
        width: 100%;
        height: 10rem;
    }

    .bentoInnerContentSkills,
    .bentoInnerContentBio,
    .bentoInnerContentCareer,
    .bentoInnerContentCertification {
        display: flex;
        align-items: flex-start;
        justify-content: center;
    }
}