@import url('https://fonts.googleapis.com/css2?family=Space+Grotesk:wght@300;400;500;600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Mono:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;1,100;1,200&family=Space+Grotesk:wght@300;400;500;600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Mono:ital@1&display=swap');

html{
  font-size: 62.5%;
  scroll-behavior: smooth;
}

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  background-color: transparent;
}

body{
  background-color: var(--primary-bg);
  font-family: 'IBM Plex Mono', monospace;
}

p, h1, h2, h3, li, a, button, label, input{
  color: var(--primary-text-color);
  background-color: transparent;
  text-decoration: none;
}

span{
  color: var(--primary-text-color);
}

h2{
  font-size: 2.5rem;
  font-weight: var(--regular-font);
}

h3{
  font-size: 2.3rem;
  font-weight: var(--bold-font);
}

p{
  font-size: 1.6rem;
}

ul{
  list-style-type: none;
}

input{
  border: none;
  border-bottom: solid 1px var(--primary-text-color);
  outline: none;
}

select, textarea {
  outline: none;
}

.mt-1{
  margin-top: 1rem;
}

.mt-2{
  margin-top: 2rem;
}

.mb-1{
  margin-bottom: 1rem;
}

.mb-2{
  margin-bottom: 2rem;
}

:root{
  --ultra-thin-font: 100;
  --thin-font: 200;
  --light-font: 300;
  --regular-font: 400;
  --bold-font: 500;
  --heavy-font: 600;
  --ultra-heavy-font: 700;

  --default-padding-mobile: 2rem 4rem 2rem 4rem;

  --mobile-cont-pd: 2% 6% 2% 6%;
  --tablet-cont-pd: 1% 5% 1% 5%;
  --desktop-cont-pd: 1% 4% 1% 4%;
  --mobile-sect-pd: 4% 0% 4% 0%;
  --tablet-sect-pd: 2% 0% 2% 0%;
  --desktop-sect-pd: 2% 0% 2% 0%;
  --tablet-cont-w: 95%;
  --desktop-cont-w: 55%;

  --desktop-nav-cont-pd: 1% 4% 1% 4%;
}


/* DARK MODE & LIGHT MODE ----------------------------------------------------------------------------- */


.dark-theme{
  --primary-bg: #0a0a0a;
  --primary-text-color: #f0f0f0;

  --secondary-bg: #adadad38;
  --secondary-text-color: #0a0a0a;

  --mobile-menu-bg: #2e2e2e;

  --primary-outline: #2e2e2e;

  --button-primary-color: #ffffff;
  --button-secondary-color: #0a0a0a;
  
  --card-bg-color: rgba(255, 255, 255, 0.1);
  --card-content-color: rgb(23, 23, 23);
  --card-radial-gradient-before: rgba(255, 255, 255, 0.05);
  --card-radial-gradient-after: rgba(255, 255, 255, 0.6);
  --service-category-bg: #397FE3;

  --skill-category-bg: #CBFBFE;
  --skill-level-bg: #DABCF9;

  --post-category-bg: #397FE3;
  --post-category-pm-bg: #FCF9BE;
  --post-category-productivity-bg: #9FA3FB;
  --post-category-thoughts-bg: #FAAB78;

  --post-date-bg: rgb(158, 158, 158);

  --rich-code-bg: #DABCF9;
  
  --shadow-color: #FFAD7A;

  --nav-bar-bg: #0a0a0a7c;

  --form-input-text-color: #fec4ad;
  --form-placeholder-text-color: rgb(158, 158, 158);

  --cta-bg: #adadad38;
}

.light-theme{
  --primary-bg: #f0f0f0;
  --primary-text-color: #353535;

  --secondary-bg: #adadad38;
  --secondary-text-color: #0a0a0a;

  --mobile-menu-bg: rgb(217, 217, 217);

  --primary-outline: #353535;

  --button-primary-color: #1c1c1c;
  --button-secondary-color: #ffffff;
  
  --card-bg-color: rgba(90, 90, 90, 0.1);
  --card-content-color: rgb(206, 206, 206);
  --card-radial-gradient-before: rgba(90, 90, 90, 0.1);
  --card-radial-gradient-after: rgb(4, 4, 4);
  --service-category-bg: #FFAD7A;

  --skill-category-bg: #8891DE;
  --skill-level-bg: #CBFBFE;

  --post-category-bg: #FFAD7A;
  --post-category-pm-bg: #C9B7F3;
  --post-category-productivity-bg: #CBB9D3;
  --post-category-thoughts-bg: #8891DE;

  --post-date-bg: rgb(112, 112, 112);

  --rich-code-bg: #C9B7F3;

  --shadow-color: #FFAD7A;

  --nav-bar-bg: #f0f0f071;

  --form-input-text-color: #d6501b;
  --form-placeholder-text-color: rgb(112, 112, 112);

  --cta-bg: #adadad38;
}


.dark-theme p{
  font-weight: var(--thin-font);
}

.dark-theme .tile-title{
  font-weight: var(--regular-font);
}

.light-theme .tile-title{
  font-weight: var(--bold-font);
}

.dark-theme .footer-link{
  font-weight: var(--thin-font);
}

.dark-theme li > span{
  font-weight: var(--thin-font);
}

.light-theme p{
  font-weight: var(--regular-font);
}

.light-theme .footer-link{
  font-weight: var(--regular-font);
}

.light-theme .post-perex p{
  font-weight: var(--regular-font);
}

.light-theme .post-date p{
  font-weight: var(--regular-font);
}

.light-theme h2{
  font-weight: var(--bold-font);
}

.light-theme .footer-section h3{
  font-weight: var(--bold-font);
}

.light-theme .logo{
  font-weight: var(--light-font);
}

.light-theme .nav-item{
  font-weight: var(--light-font);
}

.light-theme input{
  font-weight: var(--light-font);
}

.light-theme textarea{
  font-weight: var(--light-font);
}

.light-theme .card-title, .card-description{
  color: #f0f0f0;
}

.light-theme li > span{
  font-weight: var(--regular-font);
}

/* GLOBAL FOR ALL SECTIONS ----------------------------------------------------------------------------- */

.section-title-h2{
  padding: 4% 0 4% 0;
}

.section-title-h3{
  padding: 2% 0 2% 0;
}

.format-block{
  text-align: justify;
}

[class^="icon"]{
  width: 15px;
  height: 15px;
}

.icon-pidgeon{
  height: 22px;
  width: 22px;
  position: relative;
  padding: 0 0 0 8px;
}

.icon-owl{
  height: 22px;
  width: 22px;
  position: relative;
  padding: 0 0 0 8px;
}



/* HOVER LINK ANIMATION */

.hover-underline-animation {
  display: inline-block;
  position: relative;
  cursor: pointer;
}

.hover-underline-animation:after {
content: '';
position: absolute;
width: 100%;
transform: scaleX(1);
height: 1px;
bottom: -0.25rem;
left: 0;
background-color: var(--primary-text-color);
transform-origin: bottom left;
transition: transform 0.4s ease-out;
}

  .hover-underline-animation:hover:after {
  transform: scaleX(0);
  transform-origin: bottom right;
  }



/* CTA BUTTON STYLING */

.button-wrapper{
  padding-top: 2%;
  padding-bottom: 2%;
}

.cta:hover{
  scale: 1.02;
  transition: border-radius 0.4s ease;
}

.cta{
  padding-left: 1.5rem;
  padding-right: 2rem;
  border-radius: 15px;
  height: 5.5rem;
  width: fit-content;
  font-weight: var(--regular-font);
  font-size: 2rem;
  cursor: pointer;
  border: solid 0.1rem var(--button-primary-color);
  background-color: var(--cta-bg);
  box-shadow: 3px 3px 0px var(--shadow-color);
}

.cta > span{
  color: var(--primary-text-color);
  display: flex;
  justify-content: center;
}


/* NAVIGATION ----------------------------------------------------------------------------- */


.logo{
  font-weight: var(--thin-font);
  font-size: 1.5rem;
}

.mobile-menu-icons{
  display: flex;
  align-items: center;
}

.nav-container{
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  row-gap: 2.5rem;
  padding: var(--mobile-cont-pd);
  width: 100%;
  margin-left: auto;
  margin-right: auto;
  position: fixed;
  z-index: 10;
  left: 50%;
  margin-left: -50%;
  background-color: var(--nav-bar-bg);
  backdrop-filter: blur(7px);
}

.nav-section ul{
  display: none;
}

.nav-item:hover{
  transform: scale(1.07);
}

.nav-item{
  font-weight: var(--thin-font);
}

.hover{
  font-weight: var(--heavy-font);
}

.hover-adjacent{
  font-weight: var(--bold-font);
}

.hovered-more-adjacent{
  font-weight: var(--regular-font);
}

.nav-section > span{
  padding: 0.3rem;
}

.mobile-menu-display{
  display: flex;
}

.mobile-menu-hide{
  display: none;
}

.mobile-menu-container{
  width: 100%;
  height: 100vh;
  align-items: flex-start;
  justify-content: flex-end;
  position: fixed;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  padding: 10px;
  transform-origin: top right;
}

.mobile-menu{
  display: flex;
  justify-content: space-between;
  max-height: 400px;
  gap: 2rem;
  overflow: auto;
  position: relative;
  bottom: 4px;
  padding: 8px;
  border-radius: 8px;
  min-width: 300px;
  max-width: 600px;
  box-shadow: 0 40px 80px -20px rgb(0 0 0 / 12%);
  -webkit-box-shadow: 0 40px 80px -20px rgb(0 0 0 / 12%);
  background: var(--mobile-menu-bg);
}

.nav-item-mobile{
  font-size: 2rem;
  padding: 0.5rem 1rem;
  font-weight: var(--thin-font);
  color: var(--primary-text-color);
}

.nav-item-mobile:hover{
  transform: scale(1.01);
}

.nav-mobile-lang-icon{
  width: 25px;
  height: 25px;
}



.material-symbols-sharp {
  cursor: pointer;
  font-variation-settings:
  'FILL' 0,
  'wght' 100,
  'GRAD' -25,
  'opsz' 24
}

.material-symbols-sharp{
  color: var(--primary-text-color);
}

#light-mode:hover{
  color: #ffbd07;
}

.light-theme #light-mode:hover{
  color: #019dff;
}

.material-symbols-sharp:hover{
  transform: scale(1.2);
}

#logo:hover{
  transform: scale(1.2);
}
      /* NAV BAR - TABLET */

      @media only screen and (min-width: 767px){

          .nav-container{
              padding: var(--tablet-cont-pd);
              width: var(--tablet-cont-w);
              padding-top: 2%;
              font-size: 1.5rem;

              position: fixed;
              z-index: 10;
              left: 50%;
              margin-left: calc(var(--tablet-cont-w) / -2);
              background-color: var(--nav-bar-bg);
              backdrop-filter: blur(7px);
          }
      }

      /* NAV BAR - DESKTOP */

      @media only screen and (min-width: 1100px){
          /* NAVIGATION */

          span.burger-icon{
              display: none;
          }
          

          .nav-container{
              position: fixed;
              z-index: 10;
              left: 50%;
              margin-left: -27.5%;
              padding: var(--desktop-nav-cont-pd);
              width: var(--desktop-cont-w);
              font-size: 1.75rem;
              background-color: var(--nav-bar-bg);
              backdrop-filter: blur(7px);
          }

          .nav-section ul{
              display: flex;
              flex-direction: row;
              justify-items: center;
              gap: 2rem;
          }

          .nav-right-wrapper{
              display: flex;
              justify-content: flex-start;
              align-items: center;
              gap: 5rem;
          }

          .nav-list{
              align-items: center;
          }

      }


/* HERO SECTION - MOBILE ----------------------------------------------------------------------------- */

.hero-container{
  display: flex;
  height: 100%;
  flex-wrap: wrap;
  flex-direction: column;
  row-gap: 10%;
  padding: var(--mobile-cont-pd);
  padding-top: 6rem;
  margin-left: auto;
  margin-right: auto;
}

.hero-section{
  padding: var(--mobile-sect-pd);
}


  .hero-claim{ /* CLAIM FOR HERO SECTION */
      padding-bottom: 1rem;
      font-size: 4rem;
      line-height: 4.5rem;
      font-weight: var(--bold-font);
  }

  .hero-claim-animated-text::before{
      content: '';
      font-weight: var(--bold-font);
      animation: animated-text infinite 20s;
  }
      @keyframes animated-text{
          0%{
              content: 'Ahoj.';
          }

          20%{
              content: 'Hello.';
          }

          40%{
              content: 'Привет.';
          }

          60%{
              content: 'Bonjour.';
          }

          75%{
              content: 'Hallo.';
          }

          100%{
              content: 'Ahoj.';
          }
      }

.hero-perex{
  font-weight: var(--thin-font);
  font-size: 2.5rem;
}


      /* HERO SECTION - TABLET */

      @media only screen and (min-width: 767px){
          
          .hero-container{
              padding: var(--tablet-cont-pd);
              width: var(--tablet-cont-w);
              padding-top: 8rem;
          }

          .hero-section{
              padding: var(--tablet-sect-pd);
          }

      }

      /* HERO SECTION - DESKTOP */

      @media only screen and (min-width: 1100px){
          
          .hero-container{
              padding: var(--desktop-cont-pd);
              width: var(--desktop-cont-w);
              padding-top: 10%;
              padding-bottom: 5%;
          }

          .hero-section{
              padding: var(--desktop-sect-pd);
          }

      }


/* SERVICES ----------------------------------------------------------------------------- */

.service-container{
  display: flex;
  padding: var(--mobile-cont-pd);
  flex-wrap: wrap;
  flex-direction: column;
  justify-content: center;
  margin-left: auto;
  margin-right: auto;
}

@media only screen and (min-width: 767px){
  .service-container {
      padding: var(--tablet-cont-pd);
      width: var(--tablet-cont-w);
    }
}

@media only screen and (min-width: 1100px) {
.service-container {
    padding: var(--desktop-cont-pd);
    width: var(--desktop-cont-w);
  }
}

.cards-container{
  display: flex;
  flex-direction: row;
}

.cards {
  width: 100%;
  margin: 0 auto;
  display: grid;
  gap: 1rem;
}

.card {
  display: flex;
  justify-content: space-between;
  background-color: var(--card-bg-color);
  border-radius: 8px;
  cursor: pointer;
  flex-direction: column;
  padding: 2rem;
  height: 20rem;
}

.card:hover{
  scale: 1.015;
}

@media (min-width: 600px) {
  .cards { grid-template-columns: repeat(2, 1fr); }
}

.card > .card-content {
  background-color: var(--card-content-color);
  border-radius: inherit;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-end;
  align-items: flex-start;
  flex-grow: 1;
  inset: 1px;
  padding: 10px;
  position: absolute;
  z-index: 2;
  padding: 2rem 2rem 2rem 2rem;
  background-size: cover;
}

.card-title{
  font-weight: var(--ultra-heavy-font);
  font-size: 2rem;
}

.service-description{
  margin-top: 1rem;
}

.service-category{
  display: flex;
  background-color: var(--service-category-bg);
  width: fit-content;
  padding: 0.1rem 0.6rem 0.2rem 0.6rem;
  height: fit-content;
  border-radius: 4px;
  text-align: center;
  border: solid 0.1rem var(--primary-outline);
  box-shadow: 2px 2px 0px var(--service-category-bg);
}

.service-category-text{
  font-size: 1.2rem;
}


/* TILE SECTION ----------------------------------------------------------------------------- */

.tile-section-container{
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  padding: var(--mobile-cont-pd);
  margin-left: auto;
  margin-right: auto;
}

.tile-section{
  display: flex;
  flex-direction: column;
  padding: var(--mobile-sect-pd);

}

.tile-container{
  display: grid;
  grid-template-columns: 1fr 1fr;
  margin-top: 2rem;
  gap: 1rem;
  justify-content: center;
}

.tile-item{
  display: flex;
  margin-bottom: 3rem;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  transition: 250ms;
}

.tile-item:hover{
  transform: scale(1.04);
  transition: 0.3s ease-out
}

.tile-info-wrapper{
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  width: 100%;
  height: 15rem;
}

.tile-title, .tile-perex{
  padding: 1rem 1rem 0 1rem;
  font-size: 1.2rem;
}

      /* TILE SECTION - MOBILE 1 */

      @media (min-width: 450px){
          
          .tile-container{
              grid-template-columns: repeat(2,1fr);
          }

      }

      /* TILE SECTION - TABLET */
              
      @media only screen and (min-width: 767px){

          .tile-section-container{
              padding: var(--tablet-cont-pd);
              width: var(--tablet-cont-w);
          }

          .tile-container{
              grid-template-columns: repeat(3,1fr);
          }

          .tile-section{
              padding: var(--tablet-sect-pd);
          }

      }

      /* TILE SECTION - DESKTOP */

      @media only screen and (min-width: 1100px){

          .tile-section-container {
              padding: var(--desktop-cont-pd);
              width: var(--desktop-cont-w);
          }

          .tile-container {
              grid-template-columns: repeat(4,1fr);
          }

          .tile-section{
              padding: var(--desktop-sect-pd);
          }

          .card > .card-content {
              align-content: flex-start;
          }

      }


/* BLOG SECTION ----------------------------------------------------------------------------- */

.blog-section-container{
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  padding: var(--mobile-cont-pd);
  margin-left: auto;
  margin-right: auto;
}

.blog-section{
  padding: var(--mobile-sect-pd);
}

.blog-section-filter{
  padding: 0;
}

.blog-filter{
  display: flex;
  flex-direction: row;
  gap: 1rem;
  margin-top: 2.5rem;
  justify-content: flex-start;
}

.filter-item{
  cursor: pointer;
}

.filter-item:hover{
  scale: 1.03;
  animation: ease-in-out 1s;
}

.blog-list-container{
  display: flex;
  flex-wrap: wrap;
  border: solid 1px var(--primary-outline);
  border-radius: 7px;
  margin-top: 1%;
  box-shadow: 5px 5px 0px var(--shadow-color);
}

.blog-list-item{
  flex-direction: column-reverse;
  flex-basis: 100%;
  border-bottom: solid 1px var(--primary-outline);
  padding: 6% 5% 9% 5%;
}

.blog-list-item:hover:first-of-type{
  border-radius: 7px 7px 0 0;
  background-color: var(--secondary-bg);
  cursor: pointer;
}

.blog-list-item:hover{
  background-color: var(--secondary-bg);
  cursor: pointer;
}

.blog-list-item:hover:last-of-type{
  border-radius: 0 0 7px 7px;
  background-color: var(--secondary-bg);
  cursor: pointer;
}


.blog-list-item:last-of-type{
  border-bottom: 0 !important;
}

  .blog-list-item :nth-child(1){
      order: 2;
  }

  .blog-list-item :nth-child(2){
      order: 3;
  }

  .blog-list-item :nth-child(3){
      order: 1;
  }

  .blog-list-item :nth-child(4){
      order: 4;
  }


  .post-card {
    display: flex;
    justify-content: space-between;
    background-color: var(--card-bg-color);
    border-radius: 8px;
    cursor: pointer;
    flex-direction: column;
    padding: 2rem;
    height: 30rem;
  }

  .post-card-info{
    display: flex;
    justify-content: space-between;
  }

  .post-card-info-date{
    display: flex;
    align-items: center;

    background-color: var(--post-category-bg);
    padding: 0.1rem 0.6rem 0.2rem 0.6rem;
    border-radius: 4px;
    border: solid 0.1rem var(--primary-outline);
    box-shadow: 2px 2px 0px var(--post-category-bg);
  }

  .post-card-info-date-text{
    font-size: 1.2rem;
  }
  
  .post-card:hover{
    scale: 1.014;
  }

  .hide-by-default{
    opacity: 0%;
  }

  .hide-by-default:hover{
    transition: opacity 0.4s ease;
    opacity: 100%;
  }



  .post-title h3{
      font-size: 1.5rem;
      font-weight: var(--regular-font);
      margin-top: 2rem;
      padding: 0.5rem 0 0.5rem 0;
  }

  .post-perex p{
      font-size: 1.25rem;
      font-weight: var(--thin-font);
      padding: 0.5rem 0 1.5rem 0;
  }

  .post-date p{
      font-size: 1rem;
      font-weight: var(--ultra-thin-font);
      padding: 1rem 0 0.5rem 0;
  }

  .post-category{
      display: flex;
      background-color: var(--post-category-bg);
      width: fit-content;
      padding: 0.1rem 0.6rem 0.2rem 0.6rem;
      height: fit-content;
      border-radius: 4px;
      text-align: center;
      border: solid 0.1rem var(--primary-outline);
      box-shadow: 2px 2px 0px var(--post-category-bg);
  }

  .post-category-prod{
      display: flex;
      background-color: var(--post-category-productivity-bg);
      width: fit-content;
      padding: 0.1rem 0.6rem 0.2rem 0.6rem;
      height: fit-content;
      border-radius: 4px;
      text-align: center;
      border: solid 0.1rem var(--primary-outline);
      box-shadow: 2px 2px 1px var(--post-category-productivity-bg);
  }

  .post-category-thg{
      display: flex;
      background-color: var(--post-category-thoughts-bg);
      width: fit-content;
      padding: 0.1rem 0.6rem 0.2rem 0.6rem;
      height: fit-content;
      border-radius: 4px;
      text-align: center;
      border: solid 0.1rem var(--primary-outline);
      box-shadow: 2px 2px 0px var(--post-category-thoughts-bg);
  }

  .post-category-pm{
      display: flex;
      background-color: var(--post-category-pm-bg);
      width: fit-content;
      padding: 0.1rem 0.6rem 0.2rem 0.6rem;
      height: fit-content;
      border-radius: 4px;
      text-align: center;
      border: solid 0.1rem var(--primary-outline);
      box-shadow: 2px 2px 0px var(--post-category-pm-bg);
  }

  .post-category span, .post-category-pm span, .post-category-prod span, .post-category-thg span{
      font-size: 1.2rem;
      font-weight: var(--regular-font);
      color: var(--secondary-text-color);
  }

  .post-category-filter-button{
    display: flex;
    background-color: var(--post-category-bg);
    width: fit-content;
    padding: 0.1rem 0.6rem 0.2rem 0.6rem;
    height: fit-content;
    border-radius: 4px;
    text-align: center;
    border: solid 0.1rem var(--primary-outline);
    box-shadow: 2px 2px 0px var(--post-category-bg);
}

.post-category-filter-button:hover{
  scale: 1.03;
}

  .post-category-pm-filter-button{
    display: flex;
    background-color: var(--post-category-pm-bg);
    width: fit-content;
    padding: 0.1rem 0.6rem 0.2rem 0.6rem;
    height: fit-content;
    border-radius: 4px;
    text-align: center;
    border: solid 0.1rem var(--primary-outline);
    box-shadow: 2px 2px 0px var(--post-category-pm-bg);
}

.post-category-pm-filter-button:hover{
  scale: 1.03;
}

.post-category-thg-filter-button{
  display: flex;
  background-color: var(--post-category-thoughts-bg);
  width: fit-content;
  padding: 0.1rem 0.6rem 0.2rem 0.6rem;
  height: fit-content;
  border-radius: 4px;
  text-align: center;
  border: solid 0.1rem var(--primary-outline);
  box-shadow: 2px 2px 0px var(--post-category-thoughts-bg);
}

.post-category-thg-filter-button:hover{
scale: 1.03;
}

.post-category-prod-filter-button{
  display: flex;
  background-color: var(--post-category-productivity-bg);
  width: fit-content;
  padding: 0.1rem 0.6rem 0.2rem 0.6rem;
  height: fit-content;
  border-radius: 4px;
  text-align: center;
  border: solid 0.1rem var(--primary-outline);
  box-shadow: 2px 2px 1px var(--post-category-productivity-bg);
}

.post-category-prod-filter-button:hover{
scale: 1.03;
}

.post-category-filter-button span, .post-category-pm-filter-button span, .post-category-thg-filter-button span, .post-category-prod-filter-button span{
  font-size: 1.4rem;
  font-weight: var(--regular-font);
  color: var(--secondary-text-color);
}

.pill{
  z-index: 10;
}


          /* BLOG SECTION - TABLET */
      
          @media only screen and (min-width: 767px){

              .blog-section-container{
                  padding: var(--tablet-cont-pd);
                  width: var(--tablet-cont-w);
              }
              
              .blog-section{
                  padding: var(--tablet-sect-pd);
              }

              .blog-list-item{
                  padding: 5% 5% 5% 5%;
              }

          }


          /* BLOG SECTION - DESKTOP */

          @media only screen and (min-width: 1100px){

              .blog-section-container{
                  padding: var(--desktop-cont-pd);
                  width: var(--desktop-cont-w);
              }
              
              .blog-section{
                  padding: var(--desktop-sect-pd);
              }

              .blog-list-item{
                  padding: 5% 5% 5% 5%;
              }

          }

/* ARTICLE SECTION - MOBILE ----------------------------------------------------------------------------- */

.article-section-container{
  display: flex;
  flex-direction: column;
  padding: var(--mobile-cont-pd);
  margin-left: auto;
  margin-right: auto;
}

.article-section{
  padding: 0px;
}

.article-image-container {
  height: auto;
  width: var(--mobile-sect-pd);
  margin: 2rem 0 2rem 0;
}

.article-img {
    height: 100%;
    width: 100%;
    object-fit: cover;
    border: solid 1px transparent;
    border-radius: 15px;
  }

/* Text formatting */

.article-h1{
  font-size: 3rem;
  margin-top: 0.5rem;
  margin-bottom: 0.5rem;
  font-weight: var(--bold-font);
}

.article-h2{
  margin-top: 3rem;
}

.article-h3{
  margin-top: 3rem;
}

.article-text{
  font-size: 1.7rem;
  letter-spacing: -0.2px;
  line-height: 3rem;
  text-align: justify;
  word-spacing: 0.05rem;
  white-space:pre-wrap;
  word-break:break-word;
}


.plain-text{
  font-weight: var(--thin-font);
}

.bold{
  font-weight: var(--bold-font);
}

.code{
  background: var(--secondary-bg);
  border-radius: 8px;
  /* -webkit-overflow-scrolling: touch;
  overflow-x: scroll; */
  max-width: 100%;
  min-width: auto;
  font-size: 1.7rem;
  padding: 0.4rem;
}

.rich-code{
  background-color: var(--rich-code-bg);
  font-weight: var(--regular-font);
  font-size: 1.7rem;
  border-radius: 8px;
  padding: 1rem;
  width: fit-content;
  line-height: 2rem;
}

.rich-code-content{
  display: block;
  width: 51.5rem;
  padding: 1rem;
  word-break: break-all;
}


.italic{
  font-style: italic;
}

.strike-through{
  text-decoration: line-through;
}

.underline{
  text-decoration: underline;
}

.quote{
  background-color: var(--secondary-bg);
  font-weight: var(--regular-font);
  font-size: 1.7rem;
  border-radius: 8px;
  padding: 1rem;
  width: fit-content;
  line-height: 3rem;
}

/* The container */
.checkbox-label {
  padding: 0;
  position: relative;
  padding-left: 33px;
  cursor: pointer;
  font-size: 1.7rem;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

/* Hide the browser's default checkbox */
.checkbox-label input {
  position: absolute;
  opacity: 0;
  cursor: pointer;
  height: 0;
  width: 0;
}

/* Create a custom checkbox */
.checkmark {
  position: absolute;
  left: 0;
  height: 22px;
  width: 22px;
  background-color: var(--secondary-bg);
  border-radius: 6px;
}

/* On mouse-over, add a grey background color */
.checkbox-label:hover input ~ .checkmark {
  background-color: var(--primary-outline);
}

/* When the checkbox is checked, add a background */
.checkbox-label input:checked ~ .checkmark {
  background-color: var(--button-primary-color);
}

/* Create the checkmark/indicator (hidden when not checked) */
.checkmark:after {
  content: "";
  position: absolute;
  display: flex;
}

/* Show the checkmark when checked */
.checkbox-label input:checked ~ .checkmark:after {
  display: block;
}

/* Style the checkmark/indicator */
.checkbox-label .checkmark:after {
  left: 8px;
  top: 6px;
  width: 3px;
  height: 6px;
  border: solid white;
  border-width: 0 3px 3px 0;
  -webkit-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  transform: rotate(45deg);
}

details {
  cursor: pointer;
}

summary::marker{
  color: var(--primary-outline);
}

details > p{
  margin-top: 2rem;
  padding-left: 1.5rem;
}

.columns{
  display: flex;
  justify-content: space-between;
  gap: 4rem;
}

.column{
  width: 50%;
}


.article-bullet-list{
  font-size: 1.7rem;
  font-weight: var(--regular-font);
  position: relative;
  left: 2rem;
  list-style-type: disc;
}

.article-numbered-list{
  font-size: 1.7rem;
  position: relative;
  left: 3.2rem;
  font-weight: var(--bold-font);
}

li > span{
  font-weight: var(--thin-font);
}


          /* ARTICLE SECTION - TABLET */
      
          @media only screen and (min-width: 767px){

            .article-section-container{
                padding: var(--tablet-cont-pd);
                width: var(--tablet-cont-w);
            }
            
            .article-section{
                padding: var(--tablet-sect-pd);
            }

        }


        /* ARTICLE SECTION - DESKTOP */

        @media only screen and (min-width: 1100px){

            .article-section-container{
                padding: var(--desktop-cont-pd);
                width: var(--desktop-cont-w);
            }
            
            .article-section{
                padding: var(--desktop-sect-pd);
            }

        }



/* TEXT SECTION - MOBILE ----------------------------------------------------------------------------- */

.text-section-container{
  display: flex;
  flex-direction: column;
  padding: var(--mobile-cont-pd);
  margin-left: auto;
  margin-right: auto;
}

.text-section{
  padding: var(--mobile-sect-pd);
}

.text-block{
  font-size: 1.6rem;
  line-height: 3rem;
  padding: 1.5% 0% 1.5% 0%;
}

.bullet-list{
  display: flex;
  flex-direction: column;
  gap: 2rem;
  list-style-type: square;
  font-size: 1.6rem;
}

.text-section-bullet{
  padding: 5% 0% 5% 10%;
}

      /* TEXT SECTION - TABLET */

      @media only screen and (min-width: 767px){
          .text-section-container{
              padding: var(--tablet-cont-pd);
              width: var(--tablet-cont-w);
          }

          .text-section{
              padding: var(--tablet-sect-pd);
          }

          .section-title-h2{
              padding: 3% 0 3% 0;
          }
          
          .section-title-h3{
              padding: 1.5% 0 1.5% 0;
          }

          .text-section-bullet{
              padding: 2.5% 0% 2.5% 3%;
          }

          .text-block{
              padding: 0.5% 0% 0.5% 0%;
          }
          

      }


      /* TEXT SECTION - DESKTOP */

      @media only screen and (min-width: 1100px){
          .text-section-container{
              padding: var(--desktop-cont-pd);
              width: var(--desktop-cont-w);
          }

          .text-section{
              padding: var(--desktop-sect-pd);
          }

          .section-title-h2{
              padding: 2.5% 0 2.5% 0;
          }
          
          .section-title-h3{
              padding: 1% 0 1% 0;
          }

          .text-section-bullet{
              padding: 2% 0% 2% 3%;
          }

          .text-block{
              padding: 0% 0% 0% 0%;
          }
      }


/* CONTENT IMAGE ----------------------------------------------------------------------------- */

.content-image-container{
  display: flex;
  flex-direction: column;
  padding: var(--mobile-cont-pd);
  gap: 2rem;
  align-items: center;
  margin-left: auto;
  margin-right: auto;
}

.content-image-section{
  padding: var(--mobile-sect-pd);
  width: 100%;
}

.cnt-img-media-wrapper{
  text-align: center;
}

.content-image-media{
  width: 30rem;
  height: 30rem;
  object-fit: cover;
  border: solid 1px transparent;
  border-radius: 8px;
}


      /* CONTENT IMAGE - EXTRA MOBILE */

      @media only screen and (min-width: 414px){

          .content-image-media{
              width: 33rem;
              height: 33rem;
              object-fit: cover;
          }

      }

      /* CONTENT IMAGE - TABLET */
              
      @media only screen and (min-width: 767px){

          .content-image-container{
              flex-direction: row;
              padding: var(--tablet-cont-pd);
              width: var(--tablet-cont-w);
              gap: 3%;
          }
          
          .content-image-section{
              padding: var(--tablet-sect-pd);
              width: 100%;
          }
          
          .content-image-media{
              width: 30rem;
              height: 30rem;
          }

          .cnt-img-right{
              flex-direction: row-reverse;
          }

      }

      /* CONTENT IMAGE - DESKTOP */

      @media only screen and (min-width: 1100px){
          .content-image-container{
              flex-direction: row;
              padding: var(--desktop-cont-pd);
              width: var(--desktop-cont-w);
              gap: 7%;
          }
          
          .content-image-section{
              padding: var(--desktop-sect-pd);
          }
          
          .content-image-media{
              width: 30rem;
              height: 30rem;
          }

          .cnt-img-right{
              flex-direction: row-reverse;
          }

      }


/* SKILL SECTION ----------------------------------------------------------------------------- */

.skill-section-container{
  display: flex;
  flex-direction: column;
  padding: var(--mobile-cont-pd);
  margin-left: auto;
  margin-right: auto;
}

.skill-section{
  padding: var(--mobile-sect-pd);
}

.skill-filter{
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: flex-start;
  gap: 1rem;
  padding-bottom: 1.1rem;
}

.skill-list-container{
  display: flex;
  flex-direction: column;
  border: solid 1px var(--primary-outline);
  border-radius: 7px;
  margin-top: 3%;
  box-shadow: 5px 5px 0px var(--shadow-color);
}

.skill-list-item{
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: space-between;
  border-bottom: solid 1px var(--primary-outline);
  padding: 3.5% 3.5% 3.5% 3.5%;
}

.skill-list-item:last-of-type{
  border-bottom: 0 !important;
}

  .skill-list-item-wrapper{
      display: flex;
      align-items: center;
  }

  .skill-tag-wrapper{
      display: flex;
      flex-direction: column;
      align-items: flex-end;
      gap: 1.5rem;
  }

      .skill-perex{
          visibility: hidden;
      }

      .skill-title{
          display: flex;
          align-items: center;
          width: 21rem;
      }

      .skill-title h3{
          font-size: 1.2rem;
          font-weight: var(--regular-font);
      }

      .skill-perex p{
          font-size: 1.1rem;
          font-weight: var(--thin-font);
      }

      .skill-category{
          display: flex;
          background-color: var(--skill-category-bg);
          width: max-content;
          height: fit-content;
          padding: 0.1rem 0.6rem 0.2rem 0.6rem;
          border: solid 0.1rem var(--primary-outline);
          border-radius: 4px;
          box-shadow: 2px 2px 1px var(--skill-category-bg);
      }

      .skill-level{
          display: flex;
          background-color: var(--skill-level-bg);
          width: max-content;
          height: fit-content;
          padding: 0.1rem 0.6rem 0.2rem 0.6rem;
          border: solid 0.1rem var(--primary-outline);
          border-radius: 4px;
          box-shadow: 2px 2px 1px var(--skill-category-bg);
      }

      .skill-category span, .skill-level span{
          font-size: 1.2rem;
          font-weight: var(--regular-font);
          color: var(--secondary-text-color);
      }

p.skill-page-link{
  text-align: center;
  font-size: 1.1rem;
  padding: 0 12% 0 12%;
}

a.skill-page-link{
  cursor: pointer;
}

      /* SKILL SECTION - TABLET */

      @media only screen and (min-width: 767px){

          .skill-section-container{
              padding: var(--tablet-cont-pd);
              width: var(--tablet-cont-w);
          }
          
          .skill-section{
              padding: var(--tablet-sect-pd);
          }

          .skill-list-container{
              margin-top: 1%;
          }

          .skill-list-item-wrapper{
              display: flex;
              flex-direction: row;
              justify-content: space-between;
              align-items: center;
              gap: 5rem;
          }

          .skill-filter{
              justify-content: flex-start;
          }

          .skill-perex{
              visibility: visible;
              width: 25rem;
          }

          .skill-tag-wrapper{
              width: 12rem;
          }

      }


      /* SKILL SECTION - DESKTOP */

      @media only screen and (min-width: 1100px){

          .skill-section-container{
              padding: var(--desktop-cont-pd);
              width: var(--desktop-cont-w);
          }
          
          .skill-section{
              padding: var(--desktop-sect-pd);
          }

          .skill-list-container{
              margin-top: 1%;
          }

          .skill-list-item-wrapper{
              display: flex;
              flex-direction: row;
              justify-content: space-between;
              align-items: center;
          }

          .skill-filter{
              justify-content: flex-start;
          }

          .skill-perex{
              visibility: visible;
              width: 25rem;
          }

          .skill-tag-wrapper{
              width: 15rem;
          }

      }

/* FORM SECTION ----------------------------------------------------------------------------- */

.form-container{
  padding: var(--mobile-cont-pd);
  margin-left: auto;
  margin-right: auto;
}

input:focus {
  transform: scale(1);
}

input:focus *{
  backdrop-filter: blur(10px);
}

textarea:focus{
  transform: scale(1);
}


      /* FORM SECTION - TABLET */

      @media only screen and (min-width: 767px){
              .form-container{
                  padding: var(--tablet-cont-pd);
                  width: var(--tablet-cont-w);
              }

              .form-label{
                  padding: 2% 0 1% 0;
              }

              .form-input{
                  padding: 1% 0 1% 0;
                  margin: 0;
              }

          }



      /* FORM SECTION - DESKTOP */

      @media only screen and (min-width: 1100px){

              .form-container{
                  padding: var(--desktop-cont-pd);
                  width: var(--desktop-cont-w);
                  padding-bottom: 3%;
              }

              .form-section{
                  padding: var(--desktop-sect-pd);
              }

              .form-label{
                  padding: 4% 0 1% 0;
              }

              .form-input{
                  padding: 1% 0 1% 0;
                  margin: 0;
              }

          }

      
/* FOOTER ----------------------------------------------------------------------------- */


.footer-container{
  display: flex;
  flex-direction: column;
  row-gap: 2rem;
  padding: var(--mobile-cont-pd);
  margin-left: auto;
  margin-right: auto;
  border-top: solid 0.1rem var(--primary-text-color);
  padding-top: 5rem;
  margin-top: 7rem;
}

.footer-section{
  display: flex;
  flex-direction: column;
  padding: var(--mobile-sect-pd);
  padding-bottom: 15%;
}

.footer-section > h3{
  padding-bottom: 3rem;
  line-height: 2.5rem;
  font-size: 2rem;
  font-weight: var(--regular-font);
}

input{
  font-weight: var(--thin-font);
  font-size: 1.4rem;
  color: var(--form-input-text-color);
  padding: 3% 0 3% 0;
  font-family: 'IBM Plex Mono', monospace;
}

label{
  font-size: 1.5rem;
  padding: 3% 0 3% 0;
}

textarea{
  margin: 4.5% 0 3% 0;
  font-size: 1.4rem;
  border: none;
  font-weight: var(--thin-font);
  font-family: 'IBM Plex Mono', monospace;
  border-bottom: solid 1px var(--primary-text-color);
  color: var(--form-input-text-color);
}

textarea::placeholder{
  font-size: 1.5rem;
  font-weight: inherit;
}

input::placeholder, textarea::placeholder{
  color: var(--form-placeholder-text-color);
}


.form-wrapper{
  display: flex;
  flex-direction: column;
  justify-items: flex-start;
}


.footer-list{
  display: flex;
  flex-direction: column;
  row-gap: 2rem;
  list-style-type: none;
  font-weight: var(--light-font);
  font-size: 1.5rem;
}

.form-cta{
  font-size: 1.5rem;
  max-height: 4rem;
}

.footer-link{
  text-decoration: none;
  cursor: pointer;
}

.footer-bottom-container{
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  row-gap: 3rem;
  line-height: 1.2rem;
  font-weight: var(--light-font);
  padding-bottom: 3rem;
}
.footer-list{
  flex-direction: row;
  flex-wrap: wrap;
  column-gap: 1.5rem;
  row-gap: 1rem;
}

.footer-bottom-container p{
  font-size: 1.3rem;
  line-height: 2rem;
}

.footer-row-top{
  align-items: flex-start;
}

.footer-row-bottom{
  width: 25rem;
}

.footer-icon{
  position: relative;
  top: 4px;
  width: 20px;
  height: 20px;
}

      /* FOOTER SECTION - TABLET */

      @media only screen and (min-width: 767px){

          .footer-container{
              padding: var(--tablet-cont-pd);
              width: var(--tablet-cont-w);
          }
          
          .footer-section{
              flex-wrap: nowrap;
              width: 30rem;
              padding: var(--tablet-sect-pd);
          }

          .footer-row-top{
              display: flex;
              flex-direction: row;
              justify-content: space-between;
          }

          .footer-row-mid{
              display: flex;
              flex-direction: row;
              justify-content: space-between;
          }

          .footer-row-bottom{
              padding: 7% 0 5% 0;
              width: fit-content;
          }

          .contact-info{
              padding: 5% 0 5% 0;
          }

      }


      /* FOOTER SECTION - DESKTOP */

      @media only screen and (min-width: 1100px){

          .footer-container{
              flex-direction: column;
              justify-items: flex-start;
              padding: var(--desktop-cont-pd);
              padding-top: 2%;
              width: var(--desktop-cont-w);
              margin-left: auto;
              margin-right: auto;
              padding-top: 7rem;
          }
      
          .footer-row-top{
              display: flex;
              flex-direction: row;
              justify-items: flex-start;
              align-items: flex-start;
              justify-content: space-between;
              gap: 8%;
          }
      
          .footer-row-mid{
              display: flex;
              flex-direction: row;
              justify-content: space-between;
              gap: 8%;
              max-height: 12rem;
          }
      
          .footer-row-bottom{
              display: flex;
              flex-direction: row;
              justify-content: flex-start;
              max-height: 12rem;
              width: 40rem;
          }
      
          .form-wrapper{
              min-width: 24rem;
          }

          .footer-list{
              row-gap: 2.5rem;
          }

      }