@import url('https://fonts.googleapis.com/css2?family=Space+Grotesk:wght@300;400;500;600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Mono:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;1,100;1,200&family=Space+Grotesk:wght@300;400;500;600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Mono:ital@1&display=swap');

html {
  font-size: 62.5%;
  scroll-behavior: smooth;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  background-color: transparent;
}

body {
  background-color: var(--primary-bg);
  font-family: 'IBM Plex Mono', monospace;
}

section {
  scroll-margin-top: 10rem;
}

section:last-of-type {
  margin-bottom: 5rem;
}

p,
h1,
h2,
h3,
li,
a,
button,
label,
input {
  font-family: 'IBM Plex Mono', monospace;
  color: var(--primary-text-color);
  background-color: transparent;
  text-decoration: none;
  border: none;
}

span {
  color: var(--primary-text-color);
}

h2 {
  font-size: 4rem;
  font-weight: var(--bold-font);
}

h3 {
  font-size: 2.3rem;
  font-weight: var(--bold-font);
}

p {
  font-size: 2rem;
}

ul {
  list-style-type: none;
}

input {
  border: none;
  border-bottom: solid 1px var(--primary-text-color);
  outline: none;
}

select,
textarea {
  outline: none;
}

button {
  cursor: pointer;
}

:root {
  --ultra-thin-font: 100;
  --thin-font: 200;
  --light-font: 300;
  --regular-font: 400;
  --bold-font: 500;
  --heavy-font: 600;
  --ultra-heavy-font: 700;

  --default-padding-mobile: 2rem 4rem 2rem 4rem;

  --mobile-cont-pd: 2% 6% 2% 6%;
  --tablet-cont-pd: 1% 5% 1% 5%;
  --desktop-cont-pd: 1% 4% 1% 4%;
  --mobile-sect-pd: 4% 0% 4% 0%;
  --tablet-sect-pd: 2% 0% 2% 0%;
  --desktop-sect-pd: 2% 0% 2% 0%;
  --tablet-cont-w: 95%;
  --desktop-cont-w: 80%;

  --desktop-nav-cont-pd: 1% 4% 1% 4%;
}


/* DARK MODE & LIGHT MODE ----------------------------------------------------------------------------- */


.dark {
  --primary-bg: #0a0a0a;
  --primary-text-color: #f0f0f0f7;

  --secondary-bg: #adadad38;
  --secondary-text-color: #0a0a0a;

  --mobile-menu-bg: #2e2e2e;

  --primary-outline: #2e2e2e;

  --button-bg: linear-gradient(to right, #934bd0 0%, #61dcfb 100%);
  --button-boxShadow: linear-gradient(to right, #934bd0 0%, #61dcfb 100%);

  --tile-hover-boxShadow: none;
  --tile-info-backgroundColor: #131313;

  --blog-list-container-shadow: linear-gradient(to right, #934bd0 0%, #61dcfb 100%);

  --tile-bg: linear-gradient(to right, #934bd0 0%, #61dcfb 100%);
  --tile-shadow: linear-gradient(to right, #934bd0 0%, #61dcfb 100%);

  --category-bg: #131313;
  --category-outline: #2e2e2e;
  --category-shadow: none;

  --skeleton-card-bg: rgb(19, 19, 19);
  --skeleton-animation-start: rgb(78, 78, 78);
  --skeleton-animation-end: rgb(50, 50, 50);

  --skill-category-bg: #92e9ff;
  --skill-level-bg: #c98bff;

  --post-date-bg: rgb(158, 158, 158);

  --rich-code-bg: #3d3d3d;
  --copy-code-button-bg: hsl(220, 13%, 18%);
  --copy-code-button-outline: #474747;
  --copy-code-button-hover: #474747;

  --shadow-color: #FFAD7A;

  --nav-bar-bg: #0a0a0a7c;

  --form-input-text-color: #fec4ad;
  --form-placeholder-text-color: rgb(158, 158, 158);

  --bento-border-animation: #6CD8F3;
}

.light {
  --primary-bg: #f0f0f0;
  --primary-text-color: #353535;

  --secondary-bg: #adadad38;
  --secondary-text-color: #0a0a0a;

  --mobile-menu-bg: rgb(217, 217, 217);

  --primary-outline: #353535;

  --button-bg: linear-gradient(to right, rgb(255, 178, 96) 50%, #b058fc 100%);
  --button-boxShadow: none;

  --blog-list-container-shadow: linear-gradient(to right, rgb(255, 178, 96) 50%, rgb(255, 178, 96) 100%);

  --tile-hover-boxShadow: 4px 4px 35px -15px #717171;
  --tile-info-backgroundColor: rgb(220, 220, 220);

  --tile-bg: linear-gradient(to right, rgb(255, 178, 96) 50%, #b058fc 100%);
  --tile-shadow: none;

  --category-bg: #FFAD7A;
  --category-shadow: none;

  --skeleton-card-bg: rgb(208, 208, 208);
  --skeleton-animation-start: rgb(177, 177, 177);
  --skeleton-animation-end: rgb(135, 135, 135);

  --service-category-bg: #FFAD7A;

  --skill-category-bg: rgb(255, 193, 127);
  --skill-level-bg: #ff8a42;

  --post-date-bg: rgb(112, 112, 112);

  --rich-code-bg: #3d3d3d;
  --copy-code-button-bg: hsl(220, 13%, 18%);
  --copy-code-button-outline: #474747;
  --copy-code-button-hover: #474747;

  --shadow-color: #FFAD7A;

  --nav-bar-bg: #f0f0f071;

  --form-input-text-color: #d6501b;
  --form-placeholder-text-color: rgb(112, 112, 112);

  --bento-border-animation: #000000;
}


.dark p {
  font-weight: var(--thin-font);
}

.dark .tile-title {
  font-weight: var(--regular-font);
}

.light .tile-title {
  font-weight: var(--bold-font);
}

.dark .footer-link {
  font-weight: var(--thin-font);
}

.dark li>span {
  font-weight: var(--thin-font);
}

.light p {
  font-weight: var(--regular-font);
}

.light .footer-link {
  font-weight: var(--regular-font);
}

.light .post-perex p {
  font-weight: var(--regular-font);
}

.light .post-date p {
  font-weight: var(--regular-font);
}

.light h2 {
  font-weight: var(--bold-font);
}

.light .footer-section h3 {
  font-weight: var(--bold-font);
}

.light .logo {
  font-weight: var(--light-font);
}

.light .nav-item {
  font-weight: var(--light-font);
}

.light input {
  font-weight: var(--light-font);
}

.light textarea {
  font-weight: var(--light-font);
}

.light .card-title,
.card-description {
  color: #f0f0f0;
}

.light li>span {
  font-weight: var(--regular-font);
}

/* GLOBAL FOR ALL SECTIONS ----------------------------------------------------------------------------- */

.pt-1 {
  padding-top: 1rem;
}

.pt-3 {
  padding-top: 3rem;
}

.pt-2 {
  padding-top: 2rem;
}

.pt-5 {
  padding-top: 5rem;
}

.pt-10 {
  padding-top: 10rem;
}

.pt-15 {
  margin-top: 15rem;
}

.pb-1 {
  padding-bottom: 1rem;
}

.pb-2 {
  padding-bottom: 2rem;
}

.pb-3 {
  padding-bottom: 3rem;
}

.pb-5 {
  padding-bottom: 5rem;
}

.pb-8 {
  padding-bottom: 8rem;
}

.pb-10 {
  padding-bottom: 10rem;
}

.pb-15 {
  padding-bottom: 15rem;
}

.format-block {
  text-align: justify;
}

[class^="icon"] {
  width: 15px;
  height: 15px;
}

.icon-pidgeon {
  height: 22px;
  width: 22px;
  position: relative;
  padding: 0 0 0 8px;
}

.icon-owl {
  height: 22px;
  width: 22px;
  position: relative;
  padding: 0 0 0 8px;
}



/* HOVER LINK ANIMATION */

.hover-underline-animation {
  display: inline-block;
  position: relative;
  cursor: pointer;
}

.hover-underline-animation:after {
  content: '';
  position: absolute;
  width: 100%;
  transform: scaleX(1);
  height: 1px;
  bottom: -0.25rem;
  left: 0;
  background-color: var(--primary-text-color);
  transform-origin: bottom left;
  transition: transform 0.4s ease-out;
}

.hover-underline-animation:hover:after {
  transform: scaleX(0);
  transform-origin: bottom right;
}



/* CTA BUTTON STYLING */

.button-wrapper {
  padding-top: 2%;
  padding-bottom: 2%;
}

.cta:hover,
.cta:focus {
  scale: 1.02;
  border: solid 0.1rem var(--primary-outline);
  /* background-image: linear-gradient(to right, #61dcfb 0%, #934bd0 100%); */
}

.cta {
  padding-left: 1.5rem;
  padding-right: 2rem;
  border-radius: 6px;
  width: max-content;
  font-weight: var(--regular-font);
  cursor: pointer;
  border: solid 0.1rem var(--primary-outline);
  background: var(--button-bg);
  transition: background-color 1s;
  transition: border 2s;
  position: relative;
}

.light .cta {
  box-shadow: 4px 4px 0px var(--primary-outline);
  transition: box-shadow 0.25s;
}

.light .cta:hover {
  box-shadow: none;
}

.cta::before {
  content: "";
  position: absolute;
  z-index: -5;
  inset: -1px;
  transform: translate(3px, 3px);
  background: var(--button-boxShadow);
  filter: blur(10px);
  border-radius: 4px;
  transition: opacity 0.5s;
}

.cta:hover::before {
  opacity: 0;
}

.ctaLarge {
  height: 5.5rem;
  font-size: 2rem;
}

.ctaSmall {
  height: 3.5rem;
  font-size: 1.5rem;
}

.dark .button-text {
  color: black;
}

.button-text {
  color: var(--primary-text-color);
  display: flex;
  justify-content: center;
}


/* NAVIGATION ----------------------------------------------------------------------------- */


.logo {
  font-weight: var(--thin-font);
  font-size: 1.5rem;
  cursor: pointer;
}

.logo:hover {
  transform: scale(1.03);
}

a>p {
  cursor: pointer;
}

.mobile-menu-icons {
  display: flex;
  align-items: center;
  gap: 0.5rem;
}

.nav-container {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  row-gap: 2.5rem;
  padding: var(--mobile-cont-pd);
  padding-top: 1.5rem;
  width: 100%;
  margin-left: auto;
  margin-right: auto;
  position: fixed;
  z-index: 10;
  left: 27.5%;
  margin-left: -27.5%;
  background-color: var(--nav-bar-bg);
  backdrop-filter: blur(7px);
}

.nav-container-short {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  row-gap: 2.5rem;
  padding: var(--mobile-cont-pd);
  padding-top: 1.5rem;
  width: 100%;
  margin-left: auto;
  margin-right: auto;
  position: fixed;
  z-index: 10;
  left: 27.5%;
  margin-left: -27.5%;
  background-color: var(--nav-bar-bg);
  backdrop-filter: blur(7px);
}

.nav-section ul {
  display: none;
}

.nav-item:hover {
  transform: scale(1.07);
}

.nav-item {
  font-weight: var(--thin-font);
  cursor: pointer;
}

.nav-section>span {
  padding: 0.3rem;
}

.mobile-menu-display {
  display: flex;
}

.mobile-menu-hide {
  display: none;
}

.mobile-menu-container {
  width: 100%;
  height: 100vh;
  align-items: flex-start;
  justify-content: flex-end;
  position: fixed;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  padding: 10px;
  transform-origin: top right;
}

.mobile-menu {
  display: flex;
  justify-content: space-between;
  max-height: 400px;
  gap: 2rem;
  overflow: auto;
  position: relative;
  bottom: 4px;
  padding: 8px;
  border-radius: 8px;
  min-width: 300px;
  max-width: 600px;
  box-shadow: 0 40px 80px -20px rgb(0 0 0 / 12%);
  -webkit-box-shadow: 0 40px 80px -20px rgb(0 0 0 / 12%);
  background: var(--mobile-menu-bg);
}

.nav-item-mobile {
  font-size: 2rem;
  padding: 0.5rem 1rem;
  font-weight: var(--thin-font);
  color: var(--primary-text-color);
}

.nav-item-mobile:hover {
  transform: scale(1.03);
}

.nav-mobile-lang-icon {
  width: 25px;
  height: 25px;
}

#burger-icon {
  filter: invert(18%) sepia(0%) saturate(0%) hue-rotate(169deg) brightness(97%) contrast(90%);
}

#dark-mode {
  filter: invert(18%) sepia(0%) saturate(0%) hue-rotate(169deg) brightness(97%) contrast(90%);
}

#light-mode {
  filter: invert(18%) sepia(0%) saturate(0%) hue-rotate(169deg) brightness(97%) contrast(90%);
}

.dark #light-mode {
  filter: invert(100%) sepia(1%) saturate(4064%) hue-rotate(236deg) brightness(118%) contrast(88%);
}

#light-mode:hover {
  cursor: pointer;
  transform: scale(1.2);
  filter: invert(85%) sepia(32%) saturate(4995%) hue-rotate(354deg) brightness(103%) contrast(101%);
}

.light #dark-mode:hover {
  cursor: pointer;
  transform: scale(1.2);
  filter: invert(47%) sepia(46%) saturate(4585%) hue-rotate(180deg) brightness(103%) contrast(102%);
}

#burger-icon:hover {
  cursor: pointer;
  transform: scale(1.2);
}

.dark #burger-icon {
  filter: invert(100%) sepia(1%) saturate(4064%) hue-rotate(236deg) brightness(118%) contrast(88%);
}

#close-menu-icon:hover {
  cursor: pointer;
  transform: scale(1.2);
}

.dark #close-menu-icon {
  filter: invert(100%) sepia(1%) saturate(4064%) hue-rotate(236deg) brightness(118%) contrast(88%);
}


/* NAV BAR - TABLET */

@media only screen and (min-width: 767px) {

  .nav-container {
    padding: var(--tablet-cont-pd);
    width: var(--tablet-cont-w);
    padding-top: 2%;
    font-size: 1.5rem;
    position: fixed;
    z-index: 10;
    left: 50%;
    margin-left: calc(var(--tablet-cont-w) / -2);
    background-color: var(--nav-bar-bg);
    backdrop-filter: blur(7px);
  }

  .nav-container-short {
    padding: var(--tablet-cont-pd);
    width: var(--tablet-cont-w);
    padding-top: 2%;
    font-size: 1.5rem;
    position: fixed;
    z-index: 10;
    left: 50%;
    margin-left: calc(var(--tablet-cont-w) / -2);
    background-color: var(--nav-bar-bg);
    backdrop-filter: blur(7px);
  }
}

/* NAV BAR - DESKTOP */

@media only screen and (min-width: 1100px) {
  /* NAVIGATION */

  #burger-icon {
    display: none;
  }

  .nav-container {
    position: fixed;
    z-index: 10;
    left: 37.5%;
    margin-left: -27.5%;
    padding: var(--desktop-nav-cont-pd);
    padding-top: 3rem;
    width: var(--desktop-cont-w);
    font-size: 1.75rem;
    background-color: var(--nav-bar-bg);
    backdrop-filter: blur(7px);
  }

  .nav-container-short {
    position: fixed;
    z-index: 10;
    left: 50%;
    margin-left: -27.5%;
    padding: var(--desktop-nav-cont-pd);
    padding-top: 3rem;
    width: 55%;
    font-size: 1.75rem;
    background-color: var(--nav-bar-bg);
    backdrop-filter: blur(7px);
  }

  .nav-section ul {
    display: flex;
    flex-direction: row;
    justify-items: center;
    gap: 2rem;
  }

  .nav-right-wrapper {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap: 5rem;
  }

  .nav-list {
    align-items: center;
  }

}


/* HERO SECTION - MOBILE ----------------------------------------------------------------------------- */

.hero-section-landing-page {
  padding-top: 15rem;
}

.hero-container {
  height: 100vh;
  display: flex;
  flex-wrap: nowrap;
  flex-direction: column;
  justify-content: center;
  padding: var(--mobile-cont-pd);
  margin-left: auto;
  margin-right: auto;
  padding-top: 10rem;
  padding-bottom: 10rem;
}

.hero-container-landing-page {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  justify-content: flex-end;
  padding: var(--mobile-cont-pd);
  margin-left: auto;
  margin-right: auto;
}

.hero-section {
  padding: var(--mobile-sect-pd);
}

.hero-claim {
  font-size: 2em;
  line-height: 6rem;
  word-spacing: -1.5rem;
  font-weight: var(--bold-font);
}

.hero-claim-animated-text::before {
  content: '';
  font-weight: var(--bold-font);
  font-size: 2em;
  animation: animated-text infinite 20s;
}

@keyframes animated-text {
  0% {
    content: 'Ahoj.';
  }

  20% {
    content: 'Hello.';
  }

  40% {
    content: 'Привет.';
  }

  60% {
    content: 'Bonjour.';
  }

  75% {
    content: 'Hallo.';
  }

  100% {
    content: 'Ahoj.';
  }
}

.hero-perex {
  font-weight: var(--thin-font);
  font-size: 2.5rem;
}


/* HERO SECTION - TABLET */

@media only screen and (min-width: 767px) {

  .hero-container {
    padding: var(--tablet-cont-pd);
    width: var(--tablet-cont-w);
    padding-top: 15rem;
    padding-bottom: 10rem;
  }

  .hero-container-landing-page {
    padding: var(--tablet-cont-pd);
    width: var(--tablet-cont-w);
  }

  .hero-section {
    padding: var(--tablet-sect-pd);
  }

}

/* HERO SECTION - DESKTOP */

@media only screen and (min-width: 1100px) {
  .hero-container {
    padding: var(--desktop-cont-pd);
    width: var(--desktop-cont-w);
    padding-top: 10%;
    padding-bottom: 5%;
  }

  .hero-container-landing-page {
    padding: var(--desktop-cont-pd);
    width: var(--desktop-cont-w);
  }

  .hero-section {
    padding: var(--desktop-sect-pd);
  }
}

/* 404 and support pages ----------------------------------------------------------------------------- */

.not-found,
.message-sent,
.thank-you {
  display: flex;
  height: 100vh;
  align-items: center;
}

/* SERVICES ----------------------------------------------------------------------------- */

.landing-page-container {
  display: flex;
  padding: var(--mobile-cont-pd);
  flex-wrap: wrap;
  flex-direction: column;
  justify-content: center;
  margin-left: auto;
  margin-right: auto;
}

.landing-page-form {
  height: 55rem;
  margin: 10rem 0 10rem 0;
}

@media only screen and (min-width: 767px) {
  .landing-page-container {
    padding: var(--tablet-cont-pd);
    width: var(--tablet-cont-w);
  }
}

@media only screen and (min-width: 1100px) {
  .landing-page-container {
    padding: var(--desktop-cont-pd);
    width: var(--desktop-cont-w);
  }
}

.cards-container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 2rem;
}

.cards {
  width: 100%;
  margin: 0 auto;
  display: grid;
  gap: 1rem;
}

.card {
  display: flex;
  justify-content: space-between;
  background-color: var(--card-bg-color);
  border-radius: 8px;
  cursor: pointer;
  flex-direction: column;
  padding: 2rem;
  height: 30rem;
}

.card:hover {
  scale: 1.015;
}

@media (min-width: 600px) {
  .cards {
    grid-template-columns: repeat(2, 1fr);
  }
}

.service-category-text {
  font-size: 1.2rem;
}

.filter-button:hover {
  scale: 1.03;
}

.filter-button span {
  font-size: 1.4rem;
  font-weight: var(--regular-font);
  color: var(--secondary-text-color);
}

.filter-button{
  display: flex;
  width: fit-content;
  padding: 0.1rem 0.6rem 0.2rem 0.6rem;
  height: fit-content;
  border-radius: 4px;
  text-align: center;
  background: var(--skill-category-bg);
  border-radius: 4px;
  border: 0.1rem solid var(--primary-outline);
  box-shadow: 2px 2px 1px var(--skill-category-bg);
}

.category {
  display: flex;
  width: fit-content;
  padding: 0.1rem 0.6rem 0.2rem 0.6rem;
  height: fit-content;
  border-radius: 4px;
  text-align: center;
  background: var(--category-bg);
  border-radius: 4px;
  border: 0.1rem solid var(--primary-outline);
  box-shadow: 2px 2px 1px var(--category-shadow);
}

.category span {
  font-size: 1.2rem;
  font-weight: var(--normal-font);
  color: var(--primary-text-color);
}

.tile-bg{
  background: var(--tile-bg);
  position: relative;
}

.tile-bg::before{
  content: "";
  position: absolute;
  z-index: -5;
  inset: -1px;
  transform: translate(0px, 0px);
  background: var(--tile-shadow);
  filter: blur(6px);
  border-radius: 8px;
  transition: opacity 0.3s;
}

.tile-bg:hover::before{
  opacity: 0;
}

.light .tile-bg{
  box-shadow: 4px 4px 0px var(--primary-outline);
}

.tile-bg-digital-marketing{
  background: var(--tile-bg-digital-marketing);
  box-shadow: var(--tile-shadow-digital-marketing);
}

.tile-bg-analytics{
  background: var(--tile-bg-analytics);
  box-shadow: var(--tile-shadow-analytics);
}



.project-hero-container {
  text-align: center;
  display: flex;
  flex-wrap: nowrap;
  flex-direction: column;
  padding: var(--mobile-cont-pd);
  margin-left: auto;
  margin-right: auto;
  height: 70vh;
  padding-top: 5rem;
  padding-bottom: 5rem;
}

.service-hero-container {
  display: flex;
  flex-wrap: nowrap;
  flex-direction: column;
  justify-content: flex-end;
  padding: var(--mobile-cont-pd);
  margin-left: auto;
  margin-right: auto;
  height: 70vh;
  padding-top: 5rem;
  padding-bottom: 5rem;
}

.service-hero-claim {
  padding-bottom: 1rem;
  font-size: 1.3em;
  line-height: 5rem;
  font-weight: var(--bold-font);
}

.landing-page-section-container {
  display: flex;
  flex-direction: column;
  padding: var(--mobile-cont-pd);
  margin-left: auto;
  margin-right: auto;
}

.landing-page-section:has(h1, h2, h3) {
  margin-bottom: 0;
}

.landing-page-section:has(.landing-page-text) {
  margin-top: 0;
}

.landing-page-section {
  margin-top: 2.5rem;
  margin-bottom: 2.5rem;
}

.landing-page-image-container {
  height: auto;
  width: var(--mobile-sect-pd);
  margin: 2.5rem 0 2.5rem 0;
  text-align: center;
}

.landing-page-image {
  width: 100%;
  object-fit: scale-down;
  border: solid 1px transparent;
  border-radius: 15px;
}

.landing-page-content-image-container {
  display: flex;
  flex-direction: column-reverse;
}

.landing-page-content-image-section {
  margin-top: 2.5rem;
  margin-bottom: 2.5rem;
}

.landing-page-content-image-section>.landing-page-image-container {
  margin: 0;
}

.landing-page-content-image-section>.button-wrapper {
  margin-top: 2rem;
}

.landing-page-content-image-section:has(blockquote) {
  text-align: center;
}

@media only screen and (min-width: 767px) {
  .landing-page-content-image-container {
    flex-direction: row;
    gap: 4rem;
  }

  .landing-page-content-image-container:has(.landing-page-image-container) {
    align-items: center;
  }

  .landing-page-content-image-section {
    width: 50%;
  }
}

@media only screen and (min-width: 1100px) {}

.landing-page-h1,
.landing-page-h2,
.landing-page-h3 {
  margin-bottom: 1.5rem;
  font-size: 3rem;
  font-weight: var(--bold-font);
  scroll-margin-top: 10rem;
}

.landing-page-text {
  font-size: 1.7rem;
  letter-spacing: -0.2px;
  line-height: 3rem;
  text-align: justify;
  word-spacing: 0.05rem;
  white-space: pre-wrap;
  word-break: break-word;
}

.plain-text {
  font-weight: var(--thin-font);
}

.bold {
  font-weight: var(--bold-font);
}

.blog-link {
  font-weight: var(--bold-font);
}

.blog-link:hover {
  color: var(--post-card-info-date);
}

.code {
  background: var(--secondary-bg);
  border-radius: 8px;
  /* -webkit-overflow-scrolling: touch;
  overflow-x: scroll; */
  max-width: 100%;
  min-width: auto;
  font-size: 1.7rem;
  padding: 0.4rem;
}

.rich-code-container {
  position: relative;
}

.rich-code {
  background-color: var(--rich-code-bg);
  font-weight: var(--regular-font);
  font-size: 1.3em;
  border-radius: 8px;
  padding: 1rem;
  line-height: 2.5rem;
  overflow: hidden;
}

.rich-code-content {
  display: block;
  padding: 1rem;
  text-wrap: wrap;
  overflow: auto;
}

.copy-code-button {
  position: absolute;
  top: 1rem;
  right: 1rem;
  z-index: 2;
  padding: 0.5rem 1.2rem 0.5rem 1.2rem;
  width: max-content;
  border-radius: 8px;
  border: solid 0.1rem var(--copy-code-button-outline);
  background: var(--copy-code-button-bg);
  transition: all 0.2s ease-in-out;
  cursor: pointer;
  color: white;
}

.hide-copy-code-button {
  display: none;
}

.copy-code-button:hover {
  background-color: var(--copy-code-button-hover);
}

.success-message {
  position: absolute;
  top: 1rem;
  right: 1rem;
  z-index: 2;
  padding: 0.5rem 1.2rem 0.5rem 1.2rem;
  width: max-content;
  border-radius: 8px;
  border: solid 0.1rem var(--copy-code-button-outline);
  background: var(--copy-code-button-bg);
  display: none;
  transition: all 1s ease-in-out;
  color: white;
}

.show-success-message {
  position: absolute;
  top: 1rem;
  right: 1rem;
  z-index: 2;
  padding: 0.5rem 1.2rem 0.5rem 1.2rem;
  width: max-content;
  border-radius: 8px;
  border: solid 0.1rem var(--copy-code-button-outline);
  background: var(--copy-code-button-bg);
  transition: all 1s ease-in-out;
  color: white;
}

.italic {
  font-style: italic;
}

.strike-through {
  text-decoration: line-through;
}

.underline {
  text-decoration: underline;
}

.quote {
  word-spacing: -0.4rem;
  letter-spacing: -0.1rem;
  text-align: center;
  margin-right: auto;
  margin-left: auto;
  color: var(--post-category-productivity-bg);
  font-weight: var(--heavy-font);
  font-size: 2rem;
  border-radius: 8px;
  border: solid 0.1rem var(--post-category-productivity-bg);
  padding: 4rem;
  width: -moz-fit-content;
  width: 100%;
  line-height: 4rem;
}

figcaption {
  text-align: center;
  color: var(--primary-text-color);
  padding: 1rem 4rem 0rem 4rem;
}

/* The container */
.checkbox-label {
  padding: 0;
  position: relative;
  padding-left: 33px;
  cursor: pointer;
  font-size: 1.7rem;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

/* Hide the browser's default checkbox */
.checkbox-label input {
  position: absolute;
  opacity: 0;
  cursor: pointer;
  height: 0;
  width: 0;
}

/* Create a custom checkbox */
.checkmark {
  position: absolute;
  left: 0;
  height: 22px;
  width: 22px;
  background-color: var(--secondary-bg);
  border-radius: 6px;
}

/* On mouse-over, add a grey background color */
/* .checkbox-label:hover input ~ .checkmark {
  background-color: var(--primary-outline);
} */

/* When the checkbox is checked, add a background */
.checkbox-label input:checked~.checkmark {
  background-color: var(--shadow-color);
}

/* Create the checkmark/indicator (hidden when not checked) */
.checkmark:after {
  content: "";
  position: absolute;
  display: flex;
}

/* Show the checkmark when checked */
.checkbox-label input:checked~.checkmark:after {
  display: block;
}

/* Style the checkmark/indicator */
.checkbox-label .checkmark:after {
  left: 8px;
  top: 6px;
  width: 3px;
  height: 6px;
  border: solid white;
  border-width: 0 3px 3px 0;
  -webkit-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  transform: rotate(45deg);
}

details {
  cursor: pointer;
}

summary::marker {
  color: var(--primary-outline);
}

details>p {
  margin-top: 2rem;
  padding-left: 1.5rem;
}

.column>.button-wrapper {
  margin-top: 2rem;
  margin-bottom: 2rem;
}

.landing-page-section:has(.button-wrapper) {
  margin: 0;
}

.landing-page-section>.landing-page-form {
  margin: 5rem 0 0 0;
  height: 50rem;
}

@media only screen and (max-width: 600px) and (min-width: 350px) {
  .blog-hero-container {
    padding-top: 17rem;
  }
}

div>.article-section-container {
  padding: 0;
  margin: 0;
}


.landing-page-bullet-list {
  font-size: 1.7rem;
  font-weight: var(--regular-font);
  position: relative;
  left: 2rem;
  list-style-type: disc;
  line-height: 3rem;
}

.landing-page-numbered-list {
  font-size: 1.7rem;
  position: relative;
  left: 3.2rem;
  font-weight: var(--bold-font);
  line-height: 3rem;
}

li>span {
  font-weight: var(--thin-font);
}


/* SERVICE PAGE SECTION - TABLET */

@media only screen and (min-width: 767px) {

  .service-hero-container,
  .project-hero-container {
    padding: var(--tablet-cont-pd);
    width: var(--tablet-cont-w);
    height: auto;
    padding-top: 10rem;
    padding-bottom: 7rem;
  }

  .landing-page-section-container {
    padding: var(--tablet-cont-pd);
    width: var(--tablet-cont-w);
  }

}


/* SERVICE PAGE SECTION - DESKTOP */

@media only screen and (min-width: 1100px) {

  .service-hero-container,
  .project-hero-container {
    padding: var(--desktop-cont-pd);
    width: var(--desktop-cont-w);
    padding-top: 15rem;
    height: auto;
  }

  .landing-page-section-container {
    padding: var(--desktop-cont-pd);
    width: var(--desktop-cont-w);
  }

}


/* TILE SECTION ----------------------------------------------------------------------------- */

.tile-container {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(30rem, 1fr));
  grid-gap: 3rem;
}

.tile-filter {
  display: flex;
  flex-direction: row;
  gap: 1rem;
  justify-content: flex-start;
  flex-wrap: wrap;
}

.tile-filter-item {
  cursor: pointer;
}

.tile-filter-item:hover {
  scale: 1.03;
  animation: ease-in-out 1s;
}

.tile-wrapper {
  display: flex;
  position: relative;
  flex: 1 1 372px;
}

.tile-card {
  display: flex;
  background-color: var(--card-bg-color);
  border: solid 0.1rem var(--primary-outline);
  border-radius: 6px;
  cursor: pointer;
  flex-direction: column;
  transition: all .12s ease;
  width: -webkit-fill-available;
}

@media only screen and (max-width: 738px) {
  .tile-card {
    width: 51rem;
  }
}

.tile-card:hover {
  scale: 1.014;
  box-shadow: var(--tile-hover-boxShadow);
}

.tile-card:hover .tile-info-wrapper {
  background-color: var(--tile-info-backgroundColor);
}

.tile-image-wrapper {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: flex-end;
  padding: 3rem 0 3rem 0;
}

.tile-info-wrapper {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  flex-grow: 1;
  border-radius: 0px 0px 6px 6px;
  background-color: var(--primary-bg);
}

.tile-info {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 2.5rem;
  border-radius: 0 0 8px 8px;
}

.tile-more-info {
  display: flex;
  flex-direction: row;
  justify-content: center;
  padding: 0.5rem;
}

.tile-category-text {
  font-size: 1.2rem;
  padding: 0rem 1rem 0rem 1rem;
}

.pill {
  z-index: 10;
  width: max-content;
  height: 2rem;
  border-radius: 0.5rem;
  padding-top: 0.2rem;
}

.tile-date {
  display: flex;
  align-items: center;
  padding: 1rem 0 1rem 0;
}

.tile-date-text {
  font-size: 1.2rem;
}

/* TILE SKELETON ----------------------------------------------------------------------------- */

.tile-skeleton-card {
  display: flex;
  align-items: center;
  flex-direction: column;
  height: 40rem;
  width: 100%;
  border-radius: 6px;
  border: solid 0.1rem var(--primary-outline);
  background-color: var(--skeleton-card-bg);
}

@keyframes skeleton-loading {
  0% {
    background-color: var(--skeleton-animation-start);
  }

  100% {
    background-color: var(--skeleton-animation-end);
  }
}

.skeleton-image {
  animation: skeleton-loading 2s linear infinite alternate;
  height: 30rem;
  width: 100%;
  margin-bottom: 3rem;
  border-radius: 4px 4px 0 0;
}

.skeleton-text-wrapper {
  display: flex;
  flex-direction: column;
  gap: 2rem;
  height: 10rem;
  width: 80%;
}

.skeleton-text-longer {
  animation: skeleton-loading 2s linear infinite alternate;
  height: 2rem;
  width: 100%;
  border-radius: 4px;
}

.skeleton-text-shorter {
  animation: skeleton-loading 2s linear infinite alternate;
  height: 2rem;
  width: 80%;
  border-radius: 4px;
}

/* SKILL SKELETON ----------------------------------------------------------------------------- */

.skill-skeleton-list-item {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  align-items: center;
  justify-content: space-between;
  padding: 3.5% 3.5% 3.5% 3.5%;
  border-bottom: solid 0.1rem var(--primary-outline);
}

.skill-skeleton-list-item:last-of-type {
  border-bottom: 0 !important;
}

.skills-skeleton-title-wrapper {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 1rem;
  width: 20%;
}

.skill-skeleton-title {
  height: 2rem;
  width: 75%;
  border-radius: 6px;
  animation: skeleton-loading 2s linear infinite alternate;
}

.skill-skeleton-icon {
  height: 2.5rem;
  width: 2.5rem;
  border-radius: 50%;
  animation: skeleton-loading 2s linear infinite alternate;
}

.skill-skeleton-info-wrapper {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  height: 100%;
  width: 50%;
}

.skill-skeleton-item-description {
  height: 2rem;
  width: 70%;
  border-radius: 6px;
  animation: skeleton-loading 2s linear infinite alternate;
}

.skill-skeleton-tag-wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-end;
  height: 100%;
  width: 40%;
  gap: 1rem;
}

.skill-skeleton-category,
.skill-skeleton-level {
  height: 2rem;
  width: 60%;
  border-radius: 6px;
  animation: skeleton-loading 2s linear infinite alternate;
}


/* SLIDER SECTION ----------------------------------------------------------------------------- */

.swiper {
  width: 100%;
  padding-top: 50px;
  padding-bottom: 50px;
}

.swiper-slide {
  background-position: center;
  background-size: cover;
  width: 200px;
  height: 300px;
  border: solid 0.1rem var(--primary-outline);
  border-radius: 8px;
}

.swiper-slide img {
  display: block;
  width: 100%;
  border-radius: 6px;
}

.books-repeater-text {
  text-align: center;
}

.book-outter-container {
  padding: 1rem;
}

@media only screen and (min-width: 1100px) {

  .swiper {
    width: 80%;
  }

}

@media only screen and (max-width: 700px) {

  .interest-container {
    text-align: center;
  }

}



/* BLOG SECTION ----------------------------------------------------------------------------- */

.blog-section-container {
  padding: var(--mobile-cont-pd);
  margin-left: auto;
  margin-right: auto;
}

.blog-section {
  margin-top: 2.5rem;
  margin-bottom: 2.5rem;
}

.blog-filter {
  display: flex;
  flex-direction: row;
  gap: 1rem;
  justify-content: flex-start;
  flex-wrap: wrap;
}

.filter-item {
  cursor: pointer;
}

.filter-item:hover {
  scale: 1.03;
  animation: ease-in-out 1s;
}

.blog-list-container {
  display: flex;
  flex-wrap: wrap;
  border: solid 1px var(--primary-outline);
  border-radius: 7px;
  margin-top: 1%;
  margin-top: 6rem;
  background-color: var(--primary-bg);
  position: relative;
}

.blog-list-container::before{
  content: "";
  position: absolute;
  z-index: -5;
  inset: -1px;
  transform: translate(3px, 3px);
  background: var(--blog-list-container-shadow);
  filter: blur(10px);
  border-radius: 4px;
  transition: opacity 0.5s;
}

.light .blog-list-container::before {
  content: "";
  position: absolute;
  z-index: -5;
  inset: -1px;
  transform: translate(4px, 4px);
  background: var(--blog-list-container-shadow);
  filter: blur(0px);
  border-radius: 8px;
  transition: opacity 0.5s;
}

.blog-list-item {
  flex-direction: column-reverse;
  flex-basis: 100%;
  border-bottom: solid 1px var(--primary-outline);
  padding: 6% 5% 9% 5%;
}

.blog-list-item:hover:first-of-type {
  border-radius: 7px 7px 0 0;
  background-color: var(--secondary-bg);
  cursor: pointer;
}

.blog-list-item:hover {
  background-color: var(--secondary-bg);
  cursor: pointer;
}

.blog-list-item:hover:last-of-type {
  border-radius: 0 0 7px 7px;
  background-color: var(--secondary-bg);
  cursor: pointer;
}

.blog-list-item:last-of-type {
  border-bottom: 0 !important;
}

.card-wrapper {
  display: flex;
  position: relative;
  flex: 1 1 372px;
}

.post-card {
  display: flex;
  background-color: var(--card-bg-color);
  border-radius: 8px;
  cursor: pointer;
  flex-direction: column;
  width: 100%;
}

.post-image-wrapper {
  padding-top: 3rem;
}

.post-image {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: flex-end;
}

.post-info-wrapper {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  flex-grow: 1;
}

.post-info {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 1rem;
}

.post-additional-info {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 1rem;
}

.post-card-info-date {
  display: flex;
  align-items: center;
  background-color: var(--post-card-info-date);
  padding: 0.1rem 0.6rem 0.2rem 0.6rem;
  border-radius: 4px;
  border: solid 0.1rem var(--primary-outline);
  box-shadow: 2px 2px 0px var(--post-card-info-date);
}

.post-card-info-date-text {
  font-size: 1.2rem;
}

.post-card:hover {
  scale: 1.014;
}

.post-title h3 {
  font-size: 1.5rem;
  font-weight: var(--bold-font);
  margin-top: 2rem;
  padding: 0.5rem 0 0.5rem 0;
}

.post-perex p {
  font-size: 1.25rem;
  font-weight: var(--thin-font);
  padding: 0.5rem 0 1.5rem 0;
}

.post-date p {
  font-size: 1rem;
  font-weight: var(--ultra-thin-font);
  padding: 1rem 0 0.5rem 0;
}




/* BLOG SECTION - TABLET */

@media only screen and (min-width: 767px) {

  .blog-section-container {
    padding: var(--tablet-cont-pd);
    width: var(--tablet-cont-w);
  }

  .blog-list-item {
    padding: 5% 5% 5% 5%;
    height: 23rem;
  }

}


/* BLOG SECTION - DESKTOP */

@media only screen and (min-width: 1100px) {

  .blog-section-container {
    padding: var(--desktop-cont-pd);
    width: var(--desktop-cont-w);
  }

  .blog-list-item {
    padding: 5% 5% 5% 5%;
    height: 23rem;
  }

}

/* ARTICLE SECTION - MOBILE ----------------------------------------------------------------------------- */

.blog-hero-container {
  display: flex;
  flex-wrap: nowrap;
  flex-direction: column;
  justify-content: flex-end;
  padding: var(--mobile-cont-pd);
  margin-left: auto;
  margin-right: auto;
  padding-top: 10rem;
  padding-bottom: 5rem;
}

.blog-title {
  padding-bottom: 1rem;
  font-size: 4.5em;
  line-height: 5rem;
  font-weight: var(--bold-font);
}

.hero-info {
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  gap: 2rem;
}

.article-section-container {
  display: flex;
  flex-direction: column;
  padding: var(--mobile-cont-pd);
  margin-left: auto;
  margin-right: auto;
}

.article-section-container:last-of-type {
  padding-bottom: 10rem;
}

.article-section {
  padding: 2rem 0 0 0;
}

.article-section:has(h2, h3) {
  padding-bottom: 1rem;
}

.article-image-container {
  height: auto;
  width: var(--mobile-sect-pd);
  margin: 2rem 0 2rem 0;
}

.article-img {
  height: 100%;
  width: 100%;
  object-fit: cover;
  border: solid 1px transparent;
  border-radius: 15px;
}

.article-text:has(.button-wrapper) {
  text-align: center;
}

/* Text formatting */

.table-of-contents-item:first-of-type {
  margin-top: 3rem;
}

.table-of-contents-item {
  font-size: 2rem;
  font-weight: var(--thin-font);
  padding-top: 1.5rem;
  padding-left: 1rem;
}

.table-of-contents-item:hover {
  transform: scale(1.01);
}

.slide {
  clear: both;
  width: 100%;
  max-height: 0;
  overflow: hidden;
  text-align: left;
  transition: max-height 1s ease;
}

#touch {
  position: absolute;
  opacity: 0;
  max-height: 0px;
}

#touch:checked+.slide {
  max-height: 50rem;
}

.table-of-contents-roll-down {
  border: solid 1px var(--button-primary-color);
  padding: 1.5rem;
  border-radius: 8px;
  font-size: 1.5rem;
  font-weight: var(--heavy-font);
  cursor: pointer;
}

.table-of-contents-section {
  margin-top: 1rem;
  margin-bottom: 2rem;
}

.article-h1 {
  font-size: 6rem;
  margin-top: 1rem;
  margin-bottom: 0.5rem;
  font-weight: var(--bold-font);
  scroll-margin-top: 10rem;
}

.article-h2 {
  margin-top: 7rem;
  font-size: 4rem;
  font-weight: 600;
  scroll-margin-top: 10rem;
}

.article-h3 {
  margin-top: 7rem;
  font-size: 3rem;
  scroll-margin-top: 10rem;
  font-weight: 500;
}

.article-text {
  font-size: 2rem;
  letter-spacing: -0.2px;
  line-height: 3.2rem;
  text-align: left;
  word-spacing: -0.2rem;
  white-space: pre-wrap;
  word-break: break-word;
  text-wrap: balance;
  hyphens: auto;
}

.article-section:nth-child(1) .article-text:first-of-type::first-letter {
  font-weight: 600;
  float: left;
  font-size: 6rem;
  line-height: 0.65;
  margin: 0.2em 0.1em 0.1em 0;
  color: var(--button-primary-color);
}

.plain-text {
  font-weight: var(--regular-font);
}

.bold {
  font-weight: var(--bold-font);
}

.code {
  background: var(--secondary-bg);
  border-radius: 8px;
  /* -webkit-overflow-scrolling: touch;
  overflow-x: scroll; */
  max-width: 100%;
  min-width: auto;
  font-size: 1.7rem;
  padding: 0.4rem;
}

.rich-code-content {
  display: block;
  padding: 1rem;
  text-wrap: wrap;
}

.italic {
  font-style: italic;
}

.strike-through {
  text-decoration: line-through;
}

.underline {
  text-decoration: underline;
}

div:has(.content-divider) {
  display: flex;
  justify-content: center;
}

.content-divider {
  margin-top: 2.5rem;
  margin-bottom: 2.5rem;
  width: 5rem;
}

.article-section:has(.blog-divider) {
  display: flex;
  justify-content: center;
}

.blog-divider {
  font-size: 1.5em;
  letter-spacing: 0.4rem;
}

figcaption {
  text-align: center;
  color: var(--primary-text-color);
  padding: 1rem 4rem 0rem 4rem;
}

/* The container */
.checkbox-label {
  padding: 0;
  position: relative;
  padding-left: 33px;
  cursor: pointer;
  font-size: 1.7rem;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

/* Hide the browser's default checkbox */
.checkbox-label input {
  position: absolute;
  opacity: 0;
  cursor: pointer;
  height: 0;
  width: 0;
}

/* Create a custom checkbox */
.checkmark {
  position: absolute;
  left: 0;
  height: 22px;
  width: 22px;
  background-color: var(--secondary-bg);
  border-radius: 6px;
}

/* On mouse-over, add a grey background color */
/* .checkbox-label:hover input ~ .checkmark {
  background-color: var(--primary-outline);
} */

/* When the checkbox is checked, add a background */
.checkbox-label input:checked~.checkmark {
  background-color: var(--shadow-color);
}

/* Create the checkmark/indicator (hidden when not checked) */
.checkmark:after {
  content: "";
  position: absolute;
  display: flex;
}

/* Show the checkmark when checked */
.checkbox-label input:checked~.checkmark:after {
  display: block;
}

/* Style the checkmark/indicator */
.checkbox-label .checkmark:after {
  left: 8px;
  top: 6px;
  width: 3px;
  height: 6px;
  border: solid white;
  border-width: 0 3px 3px 0;
  -webkit-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  transform: rotate(45deg);
}

details {
  cursor: pointer;
}

summary::marker {
  color: var(--primary-outline);
}

details>p {
  margin-top: 2rem;
  padding-left: 1.5rem;
}

.article-bullet-list {
  margin-top: -1.5rem;
  font-size: 2rem;
  font-weight: var(--regular-font);
  position: relative;
  left: 3rem;
  width: 85%;
  list-style-type: disc;

}

.article-bullet-list>li {
  padding-bottom: 1.5rem;
  line-height: 3rem;
}

.article-numbered-list {
  font-size: 1.7rem;
  position: relative;
  left: 3.2rem;
  font-weight: var(--bold-font);
  line-height: 3rem;
  width: 85%;
}

.toggle-content {
  padding-top: 1rem;
  padding-left: 2rem;
}

li>span {
  font-weight: var(--thin-font);
}


/* ARTICLE SECTION - TABLET */

@media only screen and (min-width: 767px) {

  .article-section-container {
    padding: var(--tablet-cont-pd);
    width: var(--tablet-cont-w);
  }

  .article-section {
    padding: 2rem 0 0 0;
  }

}


/* ARTICLE SECTION - DESKTOP */

@media only screen and (min-width: 1100px) {

  .blog-hero-container {
    padding: 15rem 2rem 0 2rem;
    width: 50%;
    height: max-content;
  }

  .article-section-container {
    padding: 0 2rem 0 2rem;
    width: 50%;
  }

  .article-section {
    padding: 2rem 0 0 0;
  }

}



/* TEXT SECTION - MOBILE ----------------------------------------------------------------------------- */

.text-section-container {
  display: flex;
  flex-direction: column;
  padding: var(--mobile-cont-pd);
  margin-left: auto;
  margin-right: auto;
}

.text-section {
  padding: var(--mobile-sect-pd);
}

.text-block {
  font-size: 1.6rem;
  line-height: 3rem;
  padding: 1.5% 0% 1.5% 0%;
}

.bullet-list {
  display: flex;
  flex-direction: column;
  gap: 2rem;
  list-style-type: square;
  font-size: 1.6rem;
}

.text-section-bullet {
  padding: 5% 0% 5% 10%;
}

/* TEXT SECTION - TABLET */

@media only screen and (min-width: 767px) {
  .text-section-container {
    padding: var(--tablet-cont-pd);
    width: var(--tablet-cont-w);
  }

  .text-section {
    padding: var(--tablet-sect-pd);
  }

  .section-title-h2 {
    padding: 0 0 1% 0;
  }

  .section-title-h3 {
    padding: 1.5% 0 1.5% 0;
  }

  .text-section-bullet {
    padding: 2.5% 0% 2.5% 3%;
  }

  .text-block {
    padding: 0.5% 0% 0.5% 0%;
  }
}


/* TEXT SECTION - DESKTOP */

@media only screen and (min-width: 1100px) {
  .text-section-container {
    padding: var(--desktop-cont-pd);
    width: var(--desktop-cont-w);
  }

  .text-section {
    padding: var(--desktop-sect-pd);
  }

  .section-title-h2 {
    padding: 1% 0 1% 0;
  }

  .section-title-h3 {
    padding: 1% 0 1% 0;
  }

  .text-section-bullet {
    padding: 2% 0% 2% 3%;
  }

  .text-block {
    padding: 0% 0% 0% 0%;
  }
}


/* CONTENT IMAGE ----------------------------------------------------------------------------- */

.contentImageContainer {
  display: flex;
  flex-direction: column-reverse;
  align-items: center;
  gap: 1rem;
  padding: var(--mobile-cont-pd);
  margin-left: auto;
  margin-right: auto;
}

.contentImageMediaWrapper {
  display: flex;
  justify-content: center;
  align-items: center;
}

.contentImagePicture {
  width: 100%;
  height: auto;
}

@media only screen and (min-width: 767px) {
  .contentImageContainer {
    width: var(--tablet-cont-w);
    padding: var(--tablet-cont-pd);
    gap: 3rem;
  }

  .contentImageTextRight {
    flex-direction: row-reverse;
  }

  .contentImageTextLeft {
    flex-direction: row;
  }

  .contentImageTextWrapper {
    width: 60%;
  }

  .contentImageTextWrapper>h2 {
    font-size: 3em;
  }

  .contentImageMediaWrapper {
    width: 40%;
    border-radius: 8px;
  }
}

@media only screen and (min-width: 1100px) {
  .contentImageContainer {
    width: var(--desktop-cont-w);
    padding: var(--desktop-cont-pd);
  }

  .contentImageTextRight {
    flex-direction: row-reverse;
  }

  .contentImageTextLeft {
    flex-direction: row;
  }

  .contentImageTextWrapper {
    width: 50%;
  }

  .contentImageMediaWrapper {
    width: 50%;
    border-radius: 8px;
  }
}

/* SKILL SECTION ----------------------------------------------------------------------------- */

.skill-section-container {
  display: flex;
  flex-direction: column;
  padding: var(--mobile-cont-pd);
  margin-left: auto;
  margin-right: auto;
}

.skill-filter {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: flex-start;
  gap: 1rem;
}

.skill-list-container {
  display: flex;
  flex-direction: column;
  border: solid 1px var(--primary-outline);
  border-radius: 7px;
  margin-top: 3%;
  position: relative;
  background-color: var(--primary-bg);
}

.skill-list-container::before{
  content: "";
  position: absolute;
  z-index: -5;
  inset: -1px;
  transform: translate(3px, 3px);
  background: var(--blog-list-container-shadow);
  filter: blur(10px);
  border-radius: 4px;
  transition: opacity 0.5s;
}

.light .skill-list-container::before {
  content: "";
  position: absolute;
  z-index: -5;
  inset: -1px;
  transform: translate(4px, 4px);
  background: var(--blog-list-container-shadow);
  filter: blur(0px);
  border-radius: 8px;
  transition: opacity 0.5s;
}


.skill-list-item {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: space-between;
  border-bottom: solid 1px var(--primary-outline);
  padding: 3.5% 3.5% 3.5% 3.5%;
}

.skill-list-item:last-of-type {
  border-bottom: 0 !important;
}

.skill-list-item-wrapper {
  display: flex;
  align-items: center;
}

.skill-tag-wrapper {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  gap: 1.5rem;
}

.skill-perex {
  visibility: hidden;
}

.skill-title {
  display: flex;
  align-items: center;
  width: 21rem;
}

.skill-title h3 {
  font-size: 1.2rem;
  font-weight: var(--regular-font);
}

.skill-perex p {
  font-size: 1.1rem;
  font-weight: var(--thin-font);
}

.skill-category {
  display: flex;
  background-color: var(--skill-category-bg);
  width: max-content;
  height: fit-content;
  padding: 0.1rem 0.6rem 0.2rem 0.6rem;
  border: solid 0.1rem var(--primary-outline);
  border-radius: 4px;
  box-shadow: 2px 2px 1px var(--skill-category-bg);
}

.skill-level {
  display: flex;
  background-color: var(--skill-level-bg);
  width: max-content;
  height: fit-content;
  padding: 0.1rem 0.6rem 0.2rem 0.6rem;
  border: solid 0.1rem var(--primary-outline);
  border-radius: 4px;
  box-shadow: 2px 2px 1px var(--skill-level-bg);
}

.skill-category span,
.skill-level span {
  font-size: 1.2rem;
  font-weight: var(--regular-font);
  color: var(--secondary-text-color);
}

p.skill-page-link {
  text-align: center;
  font-size: 1.1rem;
  padding: 0 12% 0 12%;
}

a.skill-page-link {
  cursor: pointer;
}

/* SKILL SECTION - TABLET */

@media only screen and (min-width: 767px) {

  .skill-section-container {
    padding: var(--tablet-cont-pd);
    width: var(--tablet-cont-w);
  }

  .skill-list-item-wrapper {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    gap: 5rem;
  }

  .skill-filter {
    justify-content: flex-start;
  }

  .skill-perex {
    visibility: visible;
    width: 25rem;
  }

  .skill-tag-wrapper {
    width: 12rem;
  }

}


/* SKILL SECTION - DESKTOP */

@media only screen and (min-width: 1100px) {

  .skill-section-container {
    padding: var(--desktop-cont-pd);
    width: var(--desktop-cont-w);
  }

  .skill-list-item-wrapper {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
  }

  .skill-filter {
    justify-content: flex-start;
  }

  .skill-perex {
    visibility: visible;
    width: 25rem;
  }

  .skill-tag-wrapper {
    width: 15rem;
  }

}

/* FORM SECTION ----------------------------------------------------------------------------- */

.form-h2 {
  padding-bottom: 1.2rem;
  scroll-margin-top: 10rem;
}

input:focus {
  transform: scale(1);
}

input:focus * {
  backdrop-filter: blur(10px);
}

textarea:focus {
  transform: scale(1);
}


/* FORM SECTION - TABLET */

@media only screen and (min-width: 767px) {

  .form-label {
    padding: 2% 0 1% 0;
  }

  .form-input {
    padding: 1% 0 1% 0;
    margin: 0;
  }

}

/* FORM SECTION - DESKTOP */

@media only screen and (min-width: 1100px) {

  .form-section {
    padding: var(--desktop-sect-pd);
  }

  .form-label {
    padding: 4% 0 1% 0;
  }

  .form-input {
    padding: 1% 0 1% 0;
    margin: 0;
  }

}


/* FOOTER ----------------------------------------------------------------------------- */

.footer-divider-wrapper {
  display: flex;
  justify-content: center;
}

.footer-divider {
  width: 100%;
  text-align: center;
}

.footer-container {
  display: flex;
  flex-direction: column;
  row-gap: 2rem;
  padding: var(--mobile-cont-pd);
  margin-left: auto;
  margin-right: auto;
}

.blog-footer-container {
  display: flex;
  flex-direction: column;
  row-gap: 2rem;
  padding: var(--mobile-cont-pd);
  margin-left: auto;
  margin-right: auto;
}

.footer-section {
  display: flex;
  flex-direction: column;
  padding: var(--mobile-sect-pd);
  padding-bottom: 15%;
}

.footer-section>h3 {
  padding-bottom: 3rem;
  line-height: 2.5rem;
  font-size: 2rem;
  font-weight: var(--regular-font);
}

input {
  font-weight: var(--thin-font);
  font-size: 1.4rem;
  color: var(--form-input-text-color);
  padding: 3% 0 3% 0;
  font-family: 'IBM Plex Mono', monospace;
}

label {
  font-size: 1.5rem;
  padding: 3% 0 3% 0;
}

textarea {
  margin: 4.5% 0 3% 0;
  font-size: 1.4rem;
  border: none;
  font-weight: var(--thin-font);
  font-family: 'IBM Plex Mono', monospace;
  border-bottom: solid 1px var(--primary-text-color);
  color: var(--form-input-text-color);
}

textarea::placeholder {
  font-size: 1.5rem;
  font-weight: inherit;
}

input::placeholder,
textarea::placeholder {
  color: var(--form-placeholder-text-color);
}


.form-wrapper {
  display: flex;
  flex-direction: column;
  justify-items: flex-start;
}

.footer-get-in-touch {
  padding-bottom: 3rem
}


.footer-list {
  display: flex;
  flex-direction: column;
  row-gap: 2rem;
  list-style-type: none;
  font-weight: var(--light-font);
  font-size: 1.5rem;
  flex-direction: row;
  flex-wrap: wrap;
  column-gap: 1.5rem;
  row-gap: 1rem;
}

.footer-list-right {
  display: flex;
  list-style-type: none;
  font-weight: var(--light-font);
  font-size: 1.5rem;
  flex-direction: row;
  flex-wrap: wrap;
  column-gap: 1.5rem;
  justify-content: flex-start;
}

.form-cta {
  font-size: 1.5rem;
  max-height: 4rem;
}

.footer-link {
  text-decoration: none;
  cursor: pointer;
}

.footer-bottom-container {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  row-gap: 3rem;
  line-height: 1.2rem;
  font-weight: var(--light-font);
  padding-bottom: 3rem;
}

.footer-bottom-container p {
  font-size: 1.3rem;
  line-height: 2rem;
}

.footer-row-top {
  align-items: flex-start;
}

.footer-row-bottom {
  width: 25rem;
}

.footer-icon {
  position: relative;
  top: 4px;
  width: 20px;
  height: 20px;
}

/* FOOTER SECTION - TABLET */

@media only screen and (min-width: 767px) {

  .footer-container {
    width: var(--tablet-cont-w);
    padding: var(--tablet-cont-pd);
  }

  .blog-footer-container {
    width: var(--tablet-cont-w);
    padding: var(--tablet-cont-pd);
  }

  .footer-section {
    flex-wrap: nowrap;
    width: 30rem;
    padding: var(--tablet-sect-pd);
    line-height: 2.5rem;
    word-break: break-word;
  }

  .footer-row-top {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }

  .footer-row-mid {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }

  .footer-row-bottom {
    padding: 7% 0 5% 0;
    width: fit-content;
  }

}


/* FOOTER SECTION - DESKTOP */

@media only screen and (min-width: 1100px) {

  .footer-container {
    flex-direction: column;
    justify-items: flex-start;
    width: 80%;
    margin-left: auto;
    margin-right: auto;
  }

  .blog-footer-container {
    flex-direction: column;
    justify-items: flex-start;
    width: 47%;
    padding: var(--desktop-sect-pd);
    margin-left: auto;
    margin-right: auto;
  }

  .footer-section {
    width: 60rem;
    padding: var(--desktop-sect-pd);
  }

  .footer-row-top {
    display: flex;
    flex-direction: row;
    justify-items: flex-start;
    align-items: flex-start;
    justify-content: space-between;
    gap: 8%;
  }

  .footer-row-mid {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    gap: 8%;
    max-height: 12rem;
  }

  .footer-row-bottom {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    max-height: 12rem;
    width: 40rem;
  }

  .form-wrapper {
    min-width: 24rem;
  }

  .footer-list {
    row-gap: 2.5rem;
  }

  .footer-list-right {
    row-gap: 2.5rem;
  }

}